{% extends "_page.html" %}
{% set prezs = "ENABLED_PREZS" | get_config %}
{% set has_alt = true %}

{% if prezs | length == 1 %}
    {% set main_active_page = "home" %}
{% else %}
    {% set main_active_page = "SpacePrez" %}
    {% set breadcrumbs = [
        {"label": "SpacePrez", "url": url_for("spaceprez_home_endpoint")}
    ] %}
{% endif %}

{% set active_prez = "SpacePrez" %}
{% set sub_active_page = "home" %}

{% block content %}
<div id="content-col-main">
    {% if prezs | length == 1 %}
        <h1>System Home</h1>
    {% else %}
        <h1>SpacePrez Home</h1>
    {% endif %}
    <p>
        Welcome to SpacePrez, the next version of <a href="https://github.com/surroundaustralia/ogcldapi" target="_blank" rel="noopener noreferrer">OGC LD API</a>. SpacePrez, which is an API tuned for Semantic Web spatial data, uses a common set of components with <a href="">VocPrez</a>, which is an API tuned for Semantic Web vocabularies.</p>
    <p>
        See the <a href="{{ url_for('spaceprez_about') }}">About</a> page for more information about SpacePrez itself.
    </p>
    <h2>Datasets</h2>
    <p>
        Datasets are packages of data usually managed as one. Datasets, in SpacePrez, may contain multiple Feature Collections. SpacePrez can deliver multiple datasets at once and the data from them is cross-queryable thus SpacePrez is a catalogue of integrated spatial datasets.
    </p>
    <p>See the <a href="{{ url_for('datasets_endpoint') }}">Datasets page</a> for a list of Datasets for this SpacePrez instance.</p>
    <h2>Feature Collections</h2>
    <p>
        Datasets may have collections of more than one type of Feature and these are presented in "Feature Collections". SpacePrez' data model uses the <a href="https://opengeospatial.github.io/ogc-geosparql/geosparql11/spec.html#_class_geofeaturecollection" target="_blank" rel="noopener noreferrer">GeoSPARQL 1.1 FeatureCollection</a> class to represent these and delivers them as OGC API feature collections.
    </p>
    <h2>Features</h2>
    <p>
        Features are spatial objects about which we want to know things, including their geometry/geometries. SpacePrez' data model uses the <a href="https://opengeospatial.github.io/ogc-geosparql/geosparql11/spec.html#_class_geofeature" target="_blank" rel="noopener noreferrer">GeoSPARQL 1.1 Feature</a> class to represent features and they are the main "items" within Feature Collections.
    </p>
    <h2>Search &amp; Querying</h2>
    <p>Performing SPARQL queries can be done by using the <a href="{{ url_for('sparql_get') }}">SPARQL page</a>. Spatial search will be implemented soon.</p>
</div>
<div id="content-col-sidebar">
    {% include "alt_link.html" %}
</div>
{% endblock %}
