<nav id="sub-nav">
    <a href="{{ url_for('datasets_endpoint') }}" class="sub-nav-item{% if sub_active_page == 'datasets_endpoint' %} active{% endif %}">Datasets</a>
    <a href="{{ url_for('conformance') }}" class="sub-nav-item{% if sub_active_page == 'conformance' %} active{% endif %}">Conformance</a>
    <a href="{{ url_for('spaceprez_profiles') }}" class="sub-nav-item{% if sub_active_page == 'profiles' %} active{% endif %}">Profiles</a>
    <a href="{{ url_for('spaceprez_about') }}" class="sub-nav-item{% if sub_active_page == 'about' %} active{% endif %}">About</a>
</nav>
