{% extends "_page.html" %}
{% set prezs = "ENABLED_PREZS" | get_config %}
{% set has_alt = true %}

{% if prezs | length == 1 %}
    {% set breadcrumbs = [
        {"label": "Conformance", "url": url_for("conformance")}
    ] %}
    {% set main_active_page = "conformance" %}
{% else %}
    {% set breadcrumbs = [
        {"label": "SpacePrez", "url": url_for("spaceprez_home_endpoint")},
        {"label": "Conformance", "url": url_for("conformance")}
    ] %}
{% endif %}

{% set active_prez = "SpacePrez" %}
{% set sub_active_page = "conformance" %}

{% block content %}
<div id="content-col-main">
    <h1>Conformance</h1>
    <p>This API conforms to the following classes:</p>
    <ul>
        {% for conform in conformsTo %}
            <li><a href="{{ conform.url }}">{{ conform.title }}</a></li>
        {% endfor %}
    </ul>
</div>
<div id="content-col-sidebar">
    {% include "alt_link.html" %}
</div>
{% endblock %}
