{% extends "_page.html" %}
{% from "_macros.html" import render_pagination, render_member_list with context %}

{% set prezs = "ENABLED_PREZS" | get_config %}
{% set has_alt = true %}

{% if prezs | length == 1 %}
    {% if dataset is none %}
        {% set breadcrumbs = [
            {"label": "Features", "url": url_for("spaceprez_features")},
        ] %}
    {% else %}
        {% if collection is none %}
            {% set breadcrumbs = [
                {"label": "Datasets", "url": url_for("datasets_endpoint")},
                {"label": dataset.title, "url": url_for("dataset_endpoint", dataset_id=dataset.id)},
                {"label": "Features", "url": url_for("dataset_features", dataset_id=dataset.id)},
            ] %}
        {% else %}
            {% set breadcrumbs = [
                {"label": "Datasets", "url": url_for("datasets_endpoint")},
                {"label": dataset.title, "url": url_for("dataset_endpoint", dataset_id=dataset.id)},
                {"label": "Feature Collections", "url": url_for("feature_collections_endpoint", dataset_id=dataset.id)},
                {"label": collection.title, "url": url_for("feature_collection_endpoint", dataset_id=dataset.id, collection_id=collection.id)},
                {"label": "Features", "url": url_for("features_endpoint", dataset_id=dataset.id, collection_id=collection.id)},
            ] %}
        {% endif %}
    {% endif %}
    {% set main_active_page = "datasets" %}
{% else %}
    {% if dataset is none %}
        {% set breadcrumbs = [
            {"label": "SpacePrez", "url": url_for("spaceprez_home_endpoint")},
            {"label": "Features", "url": url_for("spaceprez_features")},
        ] %}
    {% else %}
        {% if collection is none %}
            {% set breadcrumbs = [
                {"label": "SpacePrez", "url": url_for("spaceprez_home_endpoint")},
                {"label": "Datasets", "url": url_for("datasets_endpoint")},
                {"label": dataset.title, "url": url_for("dataset_endpoint", dataset_id=dataset.id)},
                {"label": "Features", "url": url_for("dataset_features", dataset_id=dataset.id)},
            ] %}
        {% else %}
            {% set breadcrumbs = [
                {"label": "SpacePrez", "url": url_for("spaceprez_home_endpoint")},
                {"label": "Datasets", "url": url_for("datasets_endpoint")},
                {"label": dataset.title, "url": url_for("dataset_endpoint", dataset_id=dataset.id)},
                {"label": "Feature Collections", "url": url_for("feature_collections_endpoint", dataset_id=dataset.id)},
                {"label": collection.title, "url": url_for("feature_collection_endpoint", dataset_id=dataset.id, collection_id=collection.id)},
                {"label": "Features", "url": url_for("features_endpoint", dataset_id=dataset.id, collection_id=collection.id)},
            ] %}
        {% endif %}
    {% endif %}
{% endif %}

{% set active_prez = "SpacePrez" %}
{% set sub_active_page = "datasets" %}

{% block content %}
<div id="content-col-main">
    <h1>{{ label }}</h1>
    <p>{{ comment }}</p>
    <p><i>Page {{ pages.current }} of {{ pages.member_count | commafy }} Features</i></p>
    {{ render_member_list(members, none) }}
    {{ render_pagination(pages) }}
</div>
<div id="content-col-sidebar">
    {% include "alt_link.html" %}
</div>
{% endblock %}
