@charset "UTF-8";
:root {
  --primary: #55828b;
  --secondary: #cd4631;
  --tertiary: #cd4631;
  --link: var(--secondary);
  --link-hover: #e4553f;
  --btn: var(--secondary);
  --btn-hover: #e4553f;
  --btn-active: #ff4a2e;
  --nav-color: var(--primary);
  --nav-hover: #d4d4d4;
  --header-bg: #364958;
  --footer-bg: #e6e8e6;
  --container-direction: column;
  --main-nav-direction: row;
  --table-row-bg: #dddddd;
  --subtable-bg: #eeeeee;
  --page-max-width: 1200px;
  --body-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --heading-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

#yasgui .autocompleteWrapper {
  display: none !important;
}
#yasgui .grip-container {
  width: unset !important;
}
#yasgui #DataTables_Table_1 {
  width: unset !important;
}
#yasgui #resultsId1 {
  overflow-x: auto;
  z-index: 0;
}
#yasgui .dataTables_paginate {
  text-align: center;
  float: unset;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

h1 {
  margin: 12px 0;
}

h2 {
  margin: 12px 0;
}

h3 {
  margin: 12px 0;
}

h4 {
  margin: 12px 0;
}

h5 {
  margin: 12px 0;
}

h6 {
  margin: 12px 0;
}

p {
  margin: 8px 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: var(--body-font);
}

header {
  display: flex;
  background-color: var(--header-bg);
  color: white;
}

#header-content {
  max-width: var(--page-max-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 12px;
}
#header-content > h1 {
  text-align: center;
}

main {
  display: flex;
  flex-grow: 1;
}

#container {
  max-width: var(--page-max-width);
  width: 100%;
  margin: 0px auto 0px auto;
  display: flex;
  flex-grow: 1;
}
#container.has-colnav {
  flex-direction: row;
}
#container.has-rownav {
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-width: 0;
}

#content-col-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  min-width: 0;
}

#content-col-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 250px;
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
  transition: width 0.2s ease-in-out;
}

#alt {
  padding: 12px;
  overflow-x: hidden;
}

#search-results {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.search-result {
  background-color: #ececec;
  border: 1px solid #d4d4d4;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.search-result-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.search-result-body {
  display: flex;
  flex-direction: column;
}

.search-result-title {
  font-weight: bold;
}

.search-result-vocab {
  font-size: small;
}

.search-result-instance {
  font-size: 12px;
  color: white;
  background-color: var(--primary);
  padding: 2px 4px;
  border-radius: 0.25rem;
}
.search-result-instance:hover {
  color: white;
}

.search-result-desc {
  font-size: small;
  color: grey;
  font-style: italic;
}

footer {
  display: flex;
  margin-top: auto;
  background-color: var(--footer-bg);
}

#footer-content {
  max-width: var(--page-max-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

#alt-quick-container {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.alt-quick {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.alt-quick-title {
  margin-bottom: 8px;
}

.alt-quick-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
}
.alt-quick-link > a {
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 0.25rem;
  color: white;
  background-color: var(--primary);
}
.alt-quick-link > a:hover {
  color: white;
}

pre {
  background-color: var(--table-row-bg);
  padding: 6px;
  white-space: pre-wrap;
}

ol#concept-hierarchy {
  list-style: none;
  padding-left: 0px;
}
ol#concept-hierarchy ol.narrower {
  list-style: none;
  padding-left: 0px;
  margin-left: 24px;
  display: none;
}
ol#concept-hierarchy ol.narrower.expand {
  display: block;
}
ol#concept-hierarchy li:not(.concept-collapse) {
  margin-left: 24px;
}

#map {
  height: 500px;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 420px) {
  #content-col-sidebar {
    z-index: 95;
    position: absolute;
    right: 0;
    width: 0;
    min-width: 0px;
    background-color: white;
    white-space: nowrap;
    overflow-y: auto !important;
    max-width: unset;
  }

  .alt-quick-link {
    flex-direction: column;
  }
  .alt-quick-link > a {
    text-align: center;
  }

  #map {
    height: 300px;
  }
}
#breadcrumbs {
  display: flex;
  background-color: var(--header-bg);
}

#breadcrumbs-container {
  max-width: var(--page-max-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

#breadcrumbs-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  font-size: 12px;
  list-style: none;
  padding: 0;
  gap: 6px;
  color: white;
}
#breadcrumbs-content > li {
  padding: 6px;
}
#breadcrumbs-content > li > a {
  color: white;
}
#breadcrumbs-content > li:not(:first-child)::before {
  content: "ï„…";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  margin-right: 18px;
}

nav#main-nav {
  display: flex;
  overflow: hidden;
  background-color: var(--footer-bg);
  transition: width 0.2s ease-in-out, min-width 0.2s ease-in-out;
}
nav#main-nav.colnav {
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  padding-bottom: 12px;
}
nav#main-nav.rownav {
  flex-direction: row;
  flex-wrap: wrap;
}

.main-nav-item {
  padding: 6px;
  font-size: 14px;
  font-weight: bold;
  color: var(--nav-color);
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
nav#main-nav.rownav .main-nav-item {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}
nav#main-nav.rownav.has-subnav .main-nav-item {
  border-bottom: 1px solid var(--nav-color);
}
nav#main-nav.colnav .main-nav-item {
  text-align: left;
}
nav#main-nav.colnav .main-nav-item:not(.prez-item) {
  padding: 6px 10px;
}
.main-nav-item.active-prez {
  background-color: unset;
  color: var(--nav-color);
}
.rownav .main-nav-item.active-prez {
  border-left: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
  border-bottom-color: transparent !important;
}
.main-nav-item.prez-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.main-nav-item.prez-item > a {
  flex-grow: 1;
  padding: 6px;
  color: var(--nav-color);
}
.colnav .main-nav-item.prez-item > a {
  padding: 6px 10px;
}
.main-nav-item.prez-item > button {
  display: flex;
  color: var(--nav-color);
  background-color: transparent;
}
.main-nav-item.prez-item > button i {
  margin: auto;
}
.main-nav-item.prez-item.active {
  background-color: var(--nav-color);
}
.main-nav-item.prez-item.active > a, .main-nav-item.prez-item.active > button {
  color: white;
}
.main-nav-item.active {
  background-color: var(--nav-color);
  color: white;
}
.main-nav-item:not(.active):hover {
  background-color: var(--nav-hover);
  color: var(--primary);
}

nav#sub-nav {
  display: flex;
  justify-content: space-between;
}
nav#sub-nav > .sub-nav-item {
  padding: 6px;
  flex-grow: 1;
  flex-basis: 0;
  font-size: 14px;
  font-weight: bold;
  color: var(--nav-color);
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
.rownav nav#sub-nav > .sub-nav-item {
  text-align: center;
}
.colnav nav#sub-nav > .sub-nav-item {
  text-align: left;
  padding: 6px 10px;
}
nav#sub-nav > .sub-nav-item.active {
  background-color: var(--nav-color);
  color: white;
}
nav#sub-nav > .sub-nav-item:not(.active):hover {
  background-color: var(--nav-hover);
}
.rownav nav#sub-nav {
  flex-direction: row;
  order: 1;
  width: 100%;
}
.colnav nav#sub-nav {
  flex-direction: column;
  padding-left: 20px;
}

#lightbox {
  z-index: 90;
  width: 100%;
  position: absolute;
  background-color: black;
  display: none;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
#lightbox.open {
  display: block;
  opacity: 0.5;
}

#mobile-header {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-bg);
  gap: 8px;
  position: sticky;
  top: 0;
  z-index: 100;
}
#mobile-header > #mobile-title {
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 420px) {
  nav#main-nav.rownav,
nav#main-nav.colnav {
    flex-direction: column !important;
    height: 100vh;
    width: 0;
    z-index: 99;
    position: absolute;
    left: 0;
    min-width: 0px;
  }
  nav#main-nav.rownav .main-nav-item,
nav#main-nav.colnav .main-nav-item {
    flex-grow: unset !important;
    flex-basis: unset !important;
    border-bottom: unset !important;
    text-align: left;
  }
  nav#main-nav.rownav .main-nav-item:not(.prez-item), nav#main-nav.rownav .main-nav-item.prez-item > a,
nav#main-nav.colnav .main-nav-item:not(.prez-item),
nav#main-nav.colnav .main-nav-item.prez-item > a {
    font-size: 16px !important;
    padding: 8px 12px !important;
  }
  nav#main-nav.rownav nav#sub-nav,
nav#main-nav.colnav nav#sub-nav {
    padding-left: 20px;
  }
  .rownav nav#main-nav.rownav nav#sub-nav,
.rownav nav#main-nav.colnav nav#sub-nav {
    order: unset;
    flex-direction: column;
  }
  nav#main-nav.rownav nav#sub-nav .sub-nav-item,
nav#main-nav.colnav nav#sub-nav .sub-nav-item {
    text-align: left !important;
    font-size: 16px !important;
    padding: 8px 12px !important;
  }

  #mobile-header {
    display: flex;
  }
  #mobile-header #mobile-title {
    display: none;
  }

  #breadcrumbs {
    display: none;
  }
}
a {
  color: var(--link);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: var(--link-hover);
  text-decoration: none;
}

#pagination {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: auto;
}
#pagination a.paginate-btn.active {
  background-color: var(--btn-active);
}

button, .btn {
  cursor: pointer;
  border-radius: 0;
  padding: 6px 10px;
  background-color: var(--btn);
  color: white;
  font-family: unset;
  font-size: unset;
  display: inline-block;
  border: 1px solid transparent;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
button:hover, .btn:hover {
  background-color: var(--btn-hover);
  color: white;
}
button.outline, .btn.outline {
  background-color: white;
  color: var(--btn);
  border: 1px solid var(--btn);
}
button.outline:hover, .btn.outline:hover {
  background-color: var(--btn);
  color: white;
}

button.concept-collapse-btn {
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding: 0;
  background-color: transparent;
  color: var(--btn);
}

input:not([type=submit]), select, textarea {
  padding: 8px;
  border: 1px solid var(--footer-bg);
  outline: none;
  transition: border-color 0.2s ease-in-out;
}
input:not([type=submit]):focus-visible, select:focus-visible, textarea:focus-visible {
  border: 1px solid var(--primary);
  outline: none;
}

option {
  padding: 6px;
}

select#endpoints {
  padding: 0;
}

#search-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 350px;
  width: 100%;
}

.form-text {
  color: grey;
  font-size: 12px;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table.alt-table {
  margin-top: 12px;
  font-size: 14px;
}
table.alt-table th,
table.alt-table td {
  padding: 6px;
}
table.alt-table tbody tr:nth-child(2n+1) {
  background-color: var(--table-row-bg);
}
table.props-table {
  margin-top: 12px;
}
table.props-table th,
table.props-table td {
  padding: 6px;
}
table.props-table th {
  text-align: left;
  min-width: 120px;
}
table.props-table tbody tr:nth-child(2n+1) {
  background-color: var(--table-row-bg);
}
table.bnode-table {
  font-size: 14px;
}
table.bnode-table tr {
  background-color: unset !important;
}
table.bnode-table td {
  width: 100%;
}
.props-table td > table.bnode-table:last-child {
  margin-bottom: 0px;
}
.props-table td > table.bnode-table:nth-child(2n) {
  background-color: var(--subtable-bg);
}
