[tool.poetry]
name = "prez"
version = "0.4.0"
description = ""
authors = ["Jamie Feiss <jamie.feiss@gmail.com>", "Nicholas Car <nick@kurrawong.net>", "David Habgood <david.habgood@surroundaustralia.com>"]

[tool.poetry.dependencies]
python = "^3.10"
fastapi = "^0.77.0"
uvicorn = "^0.15.0"
Jinja2 = "3.0.3"
aiofiles = "^0.7.0"
httpx = "^0.20.0"
rdflib = "^6.1.1"
python-multipart = "^0.0.5"
connegp = { git = "https://github.com/surroundaustralia/Connegp2.git", branch = "main" }
fedsearch = { git = "https://github.com/surroundaustralia/vocprez-fedsearch.git" }
starlette-core = { git = "https://github.com/accent-starlette/starlette-core.git" }
async-lru = "^1.0.3"
Shapely = "^1.8.2"
pytest = "^7.1.2"
geojson-rewind = "^1.0.3"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pre-commit = "^2.15.0"
tavern = "^1.16.3"
black = "^22.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88

[tool.pytest.ini_options]
testpaths = ["tests"]
