{% extends "page.html" %}
{% block content %}
  <div style="display:grid; grid-template-columns: 80% auto;">
    <div style="grid-column: 1;">
      <h1>Mapping</h1>
      <h3>An RDF mapping statement</h3>
      <table class="metadata concept">
        <tr>
          <th>URI</th>
          <td><a href="{{ systemUri }}">{{ uri }}</a></td>
        </tr>
        <tr>
          <th><a href="http://www.w3.org/1999/02/22-rdf-syntax-ns#subject">Subject</a></th>
          <td><a href="{{ subjectSystemUri }}">{{ subject }}</a></td>
        </tr>
        <tr>
          <th><a href="http://www.w3.org/1999/02/22-rdf-syntax-ns#predicate">Predicate</a></th>
          <td><a href="{{ predicateSystemUri }}">{{ predicate.split("#")[1].rstrip("/") }}</a></td>
        </tr>
        <tr>
          <th><a href="http://www.w3.org/1999/02/22-rdf-syntax-ns#object">Object</a></th>
          <td><a href="{{ objectSystemUri }}">{{ object }}</a></td>
        </tr>
        <tr>
          <th><a href="http://purl.org/dc/terms/modified">Modified</a></th>
          <td>{{ modified }}</td>
        </tr>
        <tr>
          <th><a href="http://purl.org/linked-data/registry#status">Status</a></th>
          <td><a href="{{ status }}">{{ status.split("#status")[1] }}</a></td>
        </tr>
        <tr>
          <th><a href="http://purl.org/linked-data/registry#submitter">Submitter</a></th>
          <td>
            {{ submitter_title }} {{ submitter_name }}<br />
            {% if submitter_memberof is not none %}
            <a href="{{ submitter_memberof }}">{{ submitter_memberof.split("/")[-2] }}</a>
            {% endif %}
          </td>
        </tr>
        {% for prop in properties %}
          <tr>
            <th><a href="{{ prop.uri }}">{{ prop.label }}</a></th>
            <td>
              {% if prop.value[:4] == 'http' %}
                <a href="{{ utils.get_content_uri(prop.value) }}">{{ prop.value }}</a>
              {% else %}
                {{ prop.value }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div style="grid-column: 2;">
      {% include 'alt_link.html' %}
    </div>
  </div>
{% endblock %}
