{% extends "page.html" %}
{% block content %}
  <div style="display:grid; grid-template-columns: 80% auto;">
    <div style="grid-column: 1; grid-row: 1;">
      <h1>Thesaurus</h1>
      <h2>{{ scheme.prefLabel.value }}</h2>
      {% if is_puv_vocab %}
      <h4>
        <em>This collection is part of the <a style="font-size:revert;" href="https://w3id.org/env/puv">Parameter Usage Vocabulary</a> set of vocabularies.</em>
      </h4>
      {% endif %}
      <table class="metadata">
        <tr>
          <th>URI</th>
          <td><strong><a id="this_uri" href="{{ uri }}">{{ uri }}</a></strong></td>
        </tr>
        {% if scheme.description is not none  %}
        <tr>
          <th><a href="http://purl.org/dc/terms/description">Description</a></th><td>{{ scheme.description.value }}</td>
        </tr>
        {% endif %}
        {% if scheme.creator is not none  %}
        <tr>
          <th><a href="http://purl.org/dc/terms/creator">Creator</a></th><td>{{ scheme.creator.value }}</td>
        </tr>
        {% endif %}
        {% if scheme.modified is not none  %}
        <tr>
          <th><a href="http://purl.org/dc/terms/modified">Modified</a></th><td>{{ scheme.modified.value }}</td>
        </tr>
        {% endif %}
        {% if scheme.versionInfo is not none  %}
        <tr>
          <th><a href="http://www.w3.org/2002/07/owl#versionInfo">Version Info</a></th><td>{{ scheme.versionInfo.value }}</td>
        </tr>
        {% endif %}
        {% if scheme.id is not none  %}
        <tr>
          <th><a href="http://purl.org/dc/terms/identifier">Identifier</a></th><td>{{ scheme.id.value }}</td>
        </tr>
        {% endif %}
        <tr>
          <th><a href="http://www.w3.org/2004/02/skos/core#hasTopConcept">Concept Hierarchy</a></th>
          <td>
            <p><a class="tree-action" id="tree-toggler">expand all</a><span style="font-size:small;">, click '+' to expand individually</span></p>
            {{ scheme.concept_hierarchy|safe }}
          </td>
        </tr>
    </table>
    </div>
    <div style="grid-column: 2; grid-row: 1;">
      {% include 'alt_link.html' %}
    </div>
  </div>
  <style>
    ul {
      list-style-type: none;
    }

    .caret {
      cursor: pointer;
      -webkit-user-select: none; /* Safari 3.1+ */
      -moz-user-select: none; /* Firefox 2+ */
      -ms-user-select: none; /* IE 10+ */
      user-select: none;
      margin-left: -20px;
    }

    .caret::before {
      content: "\002B" /*"\25B6"*/;
      color: #337ab7;
      display: inline-block;
      margin-right: 6px;
    }

    .caret-down::before {
      content: "\2212" ;
      /* -ms-transform: rotate(90deg); /* IE 9 */
      /* -webkit-transform: rotate(90deg); /* Safari */
      /* transform: rotate(90deg); */
    }

    .nested {
      display: none;
    }

    .active {
      display: block;
      list-style-type: none;
      margin-left: -20px;
    }

    .active li::before {
      /*content: "\2212" ;*/
      margin-right: 6px;
    }
    .tree-action {
        font-size: small;
    }
  </style>
  <script>
      var togglerOne = document.getElementsByClassName("caret");

      for (let i = 0; i < togglerOne.length; i++) {
        togglerOne[i].addEventListener("click", function() {
          this.parentElement.querySelector(".nested").classList.toggle("active");
          this.classList.toggle("caret-down");
        });
      }

      var togglerAll = document.getElementById("tree-toggler");

      togglerAll.addEventListener("click", function() {
          var caret = document.getElementsByClassName("caret");

          if(togglerAll.innerHTML === "expand all") {
              togglerAll.innerHTML = "collapse all";
              for(let i = 0; i < caret.length; i++) {
                  caret[i].classList.add('caret-down');
                  caret[i].nextElementSibling.classList.add('active');
              }
          } else {
              togglerAll.innerHTML = "expand all";
              for(let i = 0; i < caret.length; i++) {
                  caret[i].classList.remove('caret-down');
                  caret[i].nextElementSibling.classList.remove('active');
              }
          }
      })
  </script>
{% endblock %}
