{% macro render_predicate(prop) %}
    <a href="{{ prop.value }}" target="_blank" {% if prop.description is not none %}class="tooltip"{% endif %}>
        {% if prop.label is not none %}
            {{ prop.label | title }}
        {% else %}
            {% if prop.qname is not none %}
                {{ prop.qname }}
            {% else %}
                {{ prop.value }}
            {% endif %}
        {% endif %}
        {% if prop.description is not none %}
            <span class="tooltip-text">{{ prop.description }}</span>
        {% endif %}
    </a>
    {% if prop.explanation is not none %}
        {{ render_explanation(prop.explanation) }}
    {% endif %}
{% endmacro %}

{% macro render_explanation(expl) %}
    <span class="pred-expl tooltip">
        <i class="far fa-info-circle"></i>
        <span class="tooltip-text">{{ expl }}</span>
    </span>
{% endmacro %}

{% macro render_datatype(datatype) %}
    <a class="bubble outline-bubble datatype" href="{{ datatype.value }}" target="_blank">
        <i class="far fa-angle-up"></i>
        <i class="far fa-angle-up"></i>
    {% if datatype.label is not none %}
        {{ datatype.label | title }}
    {% else %}
        {% if datatype.qname is not none %}
            {{ datatype.qname }}
        {% else %}
            {{ datatype.value }}
        {% endif %}
    {% endif %}
    </a>
{% endmacro %}

{% macro render_langtag(langtag) %}
    <span class="bubble outline-bubble langtag">
        <i class="far fa-at"></i>
        {{ langtag }}
    </span>
{% endmacro %}

{% macro render_object_value(object) %}
    {% if object.value | match("^[A-Z]+ \(.*\)$") or object.value | match("^\{.+\}$") %}
        <div class="geom-string-container">
            <div class="geom-string-data">
                <code class="geom-string{% if object.value | length > 40 %} collapse{% endif %}{% if object.description is not none %} tooltip{% endif %}">
                    {{ object.value }}
                    {% if object.description is not none %}
                        <span class="tooltip-text">{{ object.description }}</span>
                    {% endif %}
                </code>
                {% if object.langtag is not none %}
                    {{ render_langtag(object.langtag) }}
                {% else %}
                    {% if object.datatype is not none %}
                        {{ render_datatype(object.datatype) }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="geom-string-btns">
                {% if object.value | length > 40 %}
                    <button class="btn outline geom-collapse-btn"><i class="far fa-plus"></i> Expand</button>
                {% endif %}
                <button class="btn outline geom-copy-btn"><i class="far fa-copy"></i></button>
            </div>
        </div>
    {% elif object.value | match("^http(s*):\/\/.+") %}
        <a href="{{ object.value }}" target="_blank" {% if object.description is not none %}class="tooltip"{% endif %}>
            {% if object.label is not none %}
                {{ object.label }}
            {% else %}
                {% if object.qname is not none %}
                    {{ object.qname }}
                {% else %}
                    {{ object.value }}
                {% endif %}
            {% endif %}
            {% if object.description is not none %}
                <span class="tooltip-text">{{ object.description }}</span>
            {% endif %}
        </a>
        {% if object.langtag is not none %}
            {{ render_langtag(object.langtag) }}
        {% else %}
            {% if object.datatype is not none %}
                {{ render_datatype(object.datatype) }}
            {% endif %}
        {% endif %}
    {% else %}
        <span {% if object.description is not none %}class="tooltip"{% endif %}>
            {% if object.label is not none %}
                {{ object.label }}
            {% else %}
                {% if object.qname is not none %}
                    {{ object.qname }}
                {% else %}
                    {{ object.value }}
                {% endif %}
            {% endif %}
            {% if object.description is not none %}
                <span class="tooltip-text">{{ object.description }}</span>
            {% endif %}
        </span>
        {% if object.langtag is not none %}
            {{ render_langtag(object.langtag) }}
        {% else %}
            {% if object.datatype is not none %}
                {{ render_datatype(object.datatype) }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro render_row(prop) %}
    <tr>
        <th>{{ render_predicate(prop) }}</th>
        <td>
            {% for object in prop.objects %}
                {{ render_object(object) }}
                <br/>
            {% endfor %}
        </td>
    </tr>
{% endmacro %}

{% macro render_object(object) %}
    {% if object.rows %}
        {{ render_bnode_table(object) }}
    {% else %}
        {{ render_object_value(object) }}
    {% endif %}
{% endmacro %}

{% macro render_bnode_table(object) %}
    <table class="bnode-table">
        <tbody>
            {% for prop in object.rows %}
                {{ render_row(prop) }}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_member_list(members, member_name) %}
    <div class="member-list">
        {% for member in members %}
            <div class="member">
                <div class="member-title">
                    <a href="{{ member.link }}">{{ member.title }}</a>
                    {% if member_name is not none and member.members is not none %}
                        <a class="btn btn-sm" href="{{ member.members }}">
                            <i class="far fa-list"></i>
                            {{ member_name }}
                        </a>
                    {% endif %}
                </div>
                {% if member.desc is not none %}
                    <div class="member-desc">
                        {% if member.desc | length > 100 %}
                            {{ member.desc[:100] }}...
                        {% else %}
                            {{ member.desc }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_concept_hierarchy(scheme_id, concept_uri, concept_props) %}
    <li {% if concept_props.narrower %}class="concept-collapse"{% endif %}>
        {% if concept_props.narrower %}
            <button class="concept-collapse-btn"><i class="far fa-plus"></i></button>
        {% endif %}
        <a href="{{ url_for('concept_endpoint', scheme_id=scheme_id, concept_id=concept_props.id) }}">{{ concept_props.label }}</a>
    </li>
    {% if concept_props.narrower %}
        <ol class="narrower">
            {% for child_uri, child_props in concept_props.narrower.items() | sort(attribute = "1.label") %}
                {{ render_concept_hierarchy(scheme_id, child_uri, child_props) }}
            {% endfor %}
        </ol>
    {% endif %}
{% endmacro %}

{% macro render_concept_list(concept) %}
    <a href="{{ url_for('concept_endpoint', scheme_id=concept.scheme_id, concept_id=concept.id) }}">{{ concept.label }}</a>
    <br/>
{% endmacro %}

{% macro render_search_result(result) %}
    {% set base_url = result.sys.value.split('/sparql')[0] %}
    {% set is_self = base_url in request.url | string %}
    <div class="search-result">
        <div class="search-result-header">
            <a class="search-result-title" href="{{ base_url }}/object?uri={{ result.uri.value }}"{% if not is_self %} target="_blank"{% endif %}>{{ result.pl.value }}</a>
            {% if is_self %}
                <a class="search-result-instance" href="{{ base_url }}">Self</a>
            {% else %}
                {% for endpoint in endpoint_options %}
                    {% if base_url in endpoint["url"] %}
                        <a class="search-result-instance" href="{{ base_url }}" target="_blank">{{ endpoint["name"] }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="search-result-body">
            <div>
                <a class="search-result-vocab" href="{{ base_url }}/object?uri={{ result.cs.value }}"{% if not is_self %} target="_blank"{% endif %}>Vocab</a>
            </div>
            <div class="search-result-desc">desc</div>
        </div>
    </div>
{% endmacro %}

{% macro render_pagination(pages) %}
    {% set per_page = request.query_params.get("per_page") %}
    {% set n_pages_before_after = 5 %}
    <div id="pagination">

        {% if pages.current - n_pages_before_after > 1 %}
            <div>...</div>
        {% endif %}

        {% for page in range(pages.current - n_pages_before_after, pages.current) %}
            {% if page > 0 %}
                {% if per_page %}
                    <a href="{{ request.url | string | append_qsa({'page': page, 'per_page': per_page}) }}" class="btn paginate-btn">{{ page }}</a>
                {% else %}
                    <a href="{{ request.url | string | append_qsa({'page': page }) }}" class="btn paginate-btn">{{ page }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if per_page %}
            <a href="{{ request.url | string | append_qsa({'page': pages.current, 'per_page': per_page}) }}" class="btn paginate-btn active">{{ pages.current }}</a>
        {% else %}
            <a href="{{ request.url | string | append_qsa({'page': pages.current}) }}" class="btn paginate-btn active">{{ pages.current }}</a>
        {% endif %}

        {% for page in range(pages.current + 1, pages.current + n_pages_before_after) %}
            {%  if page <= pages.last %}
                {% if per_page %}
                    <a href="{{ request.url | string | append_qsa({'page': page, 'per_page': per_page}) }}" class="btn paginate-btn">{{ page }}</a>
                {% else %}
                    <a href="{{ request.url | string | append_qsa({'page': page }) }}" class="btn paginate-btn">{{ page }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if pages.current + n_pages_before_after < pages.last %}
            <div>...</div>
        {% endif %}

    </div>
{% endmacro %}

{% macro render_cql_form(props, datasets, collections, dataset_id, collection_id) %}
    {% if dataset_id is none and collection_id is none %}
        {% set base_url = "" %}
    {% elif collection_id is none %}
        {% set base_url = "/dataset/" + dataset_id %}
    {% else %}
        {% set base_url = "/dataset/" + dataset_id + "/collections/" + collection_id %}
    {% endif %}
    <div>
        {% if datasets is not none and collections is not none %}<h2>Feature Search</h2>{% else %}<h3>Feature Search</h3>{% endif %}
        <div>Search features {% if datasets is not none %}across all Datasets{% elif collections is not none %}within this Dataset{% else %}within this Feature Collection{% endif %}. <a href="https://docs.ogc.org/DRAFTS/21-065.html" target="_blank">CQL</a> can be used in the optional advanced search field.</div>
        <div>For the list of available properties, see <a href="{{ base_url }}/queryables">here.</a></div>
        <form action="{{ base_url }}/cql" method="post">
            <div class="cql-form">
                {% for prop_name, prop_dict in props.items() %}
                    <div class="form-item">
                        <label for="cql-{{ prop_name }}">{{ prop_dict.title }}</label>
                        <input type="text" name="{{ prop_name }}" id="cql-{{ prop_name }}" placeholder="Search by {{ prop_dict.title | lower }}...">
                    </div>
                {% endfor %}
                {% if datasets is not none %}
                    <div class="form-item">
                        <label for="">Datasets</label>
                        <select name="datasets" id="" multiple>
                            <option value="{{ datasets | join_list_keys('id', ',') }}" selected>All datasets</option>
                            {% for dataset in datasets %}
                                <option value="{{ dataset.id }}">{{ dataset.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                {% if collections is not none %}
                    <div class="form-item">
                        <label for="">Feature Collections</label>
                        <select name="collections" id="" multiple>
                            <option value="{{ collections | join_list_keys('id', ',') }}" selected>All collections</option>
                            {% for collection in collections %}
                                <option value="{{ collection.id }}">{{ collection.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <div class="form-item">
                    <label for="">CQL query</label>
                    <textarea name="filter" id="" cols="30" rows="10" placeholder="Advanced CQL search..."></textarea>
                </div>
                <div><button type="submit">Search</button></div>
            </div>
        </form>
    </div>
{% endmacro %}
