{% macro render_predicate(prop) %}
    {% if prop.label is not none %}
        <a href="{{ prop.value }}" target="_blank">{{ prop.label | title }}</a>
    {% else %}
        {% if prop.qname is not none %}
            <a href="{{ prop.value }}" target="_blank">{{ prop.qname }}</a>
        {% else %}
            <a href="{{ prop.value }}" target="_blank">{{ prop.value }}</a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro render_datatype(datatype) %}
    {% if datatype.qname is not none %}
        ^^<a href="{{ datatype.value }}" target="_blank">{{ datatype.qname }}</a>
    {% else %}
        ^^<a href="{{ datatype.value }}" target="_blank">{{ datatype.value }}</a>
    {% endif %}
{% endmacro %}

{% macro render_langtag(langtag) %}
    @{{ langtag }}
{% endmacro %}

{% macro render_object_value(object) %}
    {% if object.value | match("^[A-Z]+ \(.*\)$") or object.value | match("^\{.+\}$") %}
        <code class="geom-string{% if object.value | length > 40 %} collapse{% endif %}">{{ object.value }}</code>
        <button class="btn outline geom-copy-btn"><i class="far fa-copy"></i></button>
        {% if object.value | length > 40 %}
            <br/>
            <button class="btn outline geom-collapse-btn"><i class="far fa-plus"></i> Expand</button>
        {% endif %}
    {% elif object.value | match("^http(s*):\/\/.+") %}
        {% if object.label is not none %}
            <a href="{{ object.value }}" target="_blank">{{ object.label }}</a>
        {% else %}
            {% if object.qname is not none %}
                <a href="{{ object.value }}" target="_blank">{{ object.qname }}</a>
            {% else %}
                <a href="{{ object.value }}" target="_blank">{{ object.value }}</a>
            {% endif %}
        {% endif %}
    {% else %}
        {% if object.label is not none %}
            {{ object.label }}
        {% else %}
            {% if object.qname is not none %}
                {{ object.qname }}
            {% else %}
                {{ object.value }}
            {% endif %}
        {% endif %}
    {% endif %}
    {% if object.datatype is not none %}
        {{ render_datatype(object.datatype) }}
    {% endif %}
    {% if object.langtag is not none %}
        {{ render_langtag(object.langtag) }}
    {% endif %}
{% endmacro %}

{% macro render_row(prop) %}
    <tr>
        <th>{{ render_predicate(prop) }}</th>
        <td>
            {% for object in prop.objects %}
                {{ render_object(object) }}
                <br/>
            {% endfor %}
        </td>
    </tr>
{% endmacro %}

{% macro render_object(object) %}
    {% if object.rows %}
        {{ render_bnode_table(object) }}
    {% else %}
        {{ render_object_value(object) }}
    {% endif %}
{% endmacro %}

{% macro render_bnode_table(object) %}
    <table class="bnode-table">
        <tbody>
            {% for prop in object.rows %}
                {{ render_row(prop) }}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_concept_hierarchy(scheme_id, concept_uri, concept_props) %}
    <li {% if concept_props.narrower %}class="concept-collapse"{% endif %}>
        {% if concept_props.narrower %}
            <button class="concept-collapse-btn"><i class="far fa-plus"></i></button>
        {% endif %}
        <a href="{{ url_for('concept', scheme_id=scheme_id, concept_id=concept_props.id) }}">{{ concept_props.label }}</a>
    </li>
    {% if concept_props.narrower %}
        <ol class="narrower">
            {% for child_uri, child_props in concept_props.narrower.items() | sort(attribute = "1.label") %}
                {{ render_concept_hierarchy(scheme_id, child_uri, child_props) }}
            {% endfor %}
        </ol>
    {% endif %}
{% endmacro %}

{% macro render_concept_list(concept) %}
    <a href="{{ url_for('concept', scheme_id=concept.scheme_id, concept_id=concept.id) }}">{{ concept.label }}</a>
    <br/>
{% endmacro %}

{% macro render_search_result(result) %}
    {% set base_url = result.sys.value.split('/sparql')[0] %}
    {% set is_self = base_url in request.url | string %}
    <div class="search-result">
        <div class="search-result-header">
            <a class="search-result-title" href="{{ base_url }}/object?uri={{ result.uri.value }}"{% if not is_self %} target="_blank"{% endif %}>{{ result.pl.value }}</a>
            {% if is_self %}
                <a class="search-result-instance" href="{{ base_url }}">Self</a>
            {% else %}
                {% for endpoint in endpoint_options %}
                    {% if base_url in endpoint["url"] %}
                        <a class="search-result-instance" href="{{ base_url }}" target="_blank">{{ endpoint["name"] }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="search-result-body">
            <div>
                <a class="search-result-vocab" href="{{ base_url }}/object?uri={{ result.g.value }}"{% if not is_self %} target="_blank"{% endif %}>Vocab</a>
            </div>
            <div class="search-result-desc">desc</div>    
        </div>
    </div>
{% endmacro %}

{% macro render_pagination(pages) %}
    {% set per_page = "per_page=" + request.query_params.get("per_page") + "&" if request.query_params.get("per_page") else "" %}
    <div id="pagination">
        {% if pages.current > 1 %}
            <a href="{{ request.url.path + '?' + per_page + 'page=' + pages.first | string }}" class="btn paginate-btn">{{ pages.first }}</a>
        {% endif %}
        {% if pages.prev > 2 %}
            <div>...</div>
        {% endif %}
        {% if pages.current > 2 %}
            <a href="{{ request.url.path + '?' + per_page + 'page=' + pages.prev | string }}" class="btn paginate-btn">{{ pages.prev }}</a>
        {% endif %}
        <a href="{{ request.url.path + '?' + per_page + 'page=' + pages.current | string }}" class="btn paginate-btn active">{{ pages.current }}</a>
        {% if pages.current < pages.last - 1 %}
            <a href="{{ request.url.path + '?' + per_page + 'page=' + pages.next | string }}" class="btn paginate-btn">{{ pages.next }}</a>
        {% endif %}
        {% if pages.next + 1 < pages.last %}
            <div>...</div>
        {% endif %}
        {% if pages.current < pages.last %}
            <a href="{{ request.url.path + '?' + per_page + 'page=' + pages.last | string }}" class="btn paginate-btn">{{ pages.last }}</a>
        {% endif %}
    </div>
{% endmacro %}
