{% set prezs = "ENABLED_PREZS" | get_config %}
{% set prez_title = "PREZ_TITLE" | get_config %}
{% set catprez_title = "CATPREZ_TITLE" | get_config %}
{% set vocprez_title = "VOCPREZ_TITLE" | get_config %}
{% set spaceprez_title = "SPACEPREZ_TITLE" | get_config %}
{% set is_sidenav = "SIDENAV" | get_config %}
{% set theme_volume = "THEME_VOLUME" | get_config %}

{% if active_prez == "CatPrez" %}
    {% set pagetitle = catprez_title %}
{% elif active_prez == "VocPrez" %}
    {% set pagetitle = vocprez_title %}
{% elif active_prez == "SpacePrez" %}
    {% set pagetitle = spaceprez_title %}
{% else %} {# Prez #}
    {% if prez_title is not none %}
        {% set pagetitle = prez_title %}
    {% else %}
        {% set pagetitle = "Prez" %}
    {% endif %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- standard Prez stylesheet -->
    <link rel="stylesheet" href="/static/css/prez.css">
    <!-- if a theme is set, also load it's favicon & stylesheet -->
    {% if theme_volume is not none %}
        <link rel="stylesheet" href="/theme/css/theme.css">
        {% if ("/" + theme_volume + "/img/favicon.ico") | file_exists %}
            <link rel="shortcut icon" href="/theme/img/favicon.ico" type="image/x-icon">
        {% else %}
            <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        {% endif %}
        {% include "fonts.html" ignore missing %}
    {% else %}
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    {% endif %}
    <script src="https://kit.fontawesome.com/c112c4b9c0.js" crossorigin="anonymous"></script>
    <title>{{ pagetitle }}</title>
</head>
<body>
    {% include "header.html" %}
    {% include "breadcrumbs.html" %}
    <div id="mobile-header">
        <button class="nav-toggle"><i class="far fa-bars"></i></button>
        <div id="mobile-title">{{ pagetitle }}</div>
        {% if has_alt %}<button class="alt-toggle">Alt</button>{% endif %}
    </div>
    <main>
        <div id="container" class="{% if is_sidenav %}has-colnav{% else %}has-rownav{% endif %}">
            <div id="lightbox"></div>
            {% include "nav.html" %}
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    {% include "footer.html" %}
    <script src="/static/js/script.js"></script>
    {% if theme_volume is not none and ("/" + theme_volume + "/js/script.js") | file_exists %}
        <script src="/{{ theme_volume }}/js/script.js"></script>
    {% endif %}
</body>
</html>
