{% extends "_page.html" %}

{% set breadcrumbs = [
    {"label": "About", "url": url_for("about")}
] %}
{% set main_active_page = "about" %}

{% block content %}
<div id="content-col-main">
    <h1>About Prez</h1>
    <p>
        Prez is an oen source an Application Programming Interface (API) that implements <a href="https://www.w3.org/standards/semanticweb/data">Linked Data</a>
        methods for providing access to a wide range of data on the web. It also implements the <a href="https://docs.ogc.org/is/17-069r3/17-069r3.html">OGC API:Features</a>
        for spatial data.
    </p>
    <p>
        Prez comes in a number of "flavours", one or more of which may be implemented in any one Prez system. If implemented here, these links will work:
    </p>
    <ul>
        <li>{% if "VocPrez" in prezs %}<a href="{{ url_for('vocprez_home_endpoint') }}">VocPrez</a>{% else %}VocPrez{% endif %} - for presenting vocabularies</li>
        <li>{% if "SpacePrez" in prezs %}<a href="{{ url_for('spaceprez_home_endpoint') }}">SpacePrez</a>{% else %}SpacePrez{% endif %} - for presenting spatial data</li>
        <li>{% if "CatPrez" in prezs %}<a href="{{ url_for('catprez_home_endpoint') }}">CatPrez</a>{% else %}CatPrez{% endif %} - for presenting data catalog information</li>
    </ul>
    <p>Each enabled flavour will have links to its home page in the main menu.</p>
    <h2>License</h2>
    <p>Prez is licensed using the <a href="https://github.com/rdflib/prez/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">BSD 3-Clause licence</a>.</p>
    <h2>Documentation</h2>
    <p>See <a href="http://rdflib.dev/prez/">http://rdflib.dev/prez/</a> for detailed Prez documentation.</p>
</div>
{% endblock %}