<div id="alt">
    <h3>Alternate Profiles</h3>
    <p>View alternate views & formats:</p>
    <a href="{{ uri | append_qsa({'_profile': 'alt'}) }}">Alternate Profiles</a>
    <div id="alt-quick-container">
        <h4>Quick Links for Alt Profiles:</h4>
        {% for profile in profiles.values() %}
            <div class="alt-quick">
                <div class="alt-quick-title"><a href="{{ uri | append_qsa({'_profile': profile.id}) }}">{{ profile.label }}</a></div>
                <div class="alt-quick-links">
                    {% for mediatype in profile.mediatypes %}
                        <a class="bubble" href="{{ uri | append_qsa({'_profile': profile.id, '_mediatype': mediatype}) }}">
                            {% if mediatype_names[mediatype] is defined %}
                                {{ mediatype_names[mediatype] }}
                            {% else %}
                                {{ mediatype }}
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>