<div id="breadcrumbs">
    <div id="breadcrumbs-container">
        {% if is_sidenav %}
            <button class="nav-toggle"><i class="far fa-bars"></i></button>
        {% endif %}
        <ol id="breadcrumbs-content">
            <li class="breadcrumb"><a href="{{ url_for('index') }}">Home</a></li>
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb"><a href="{{ breadcrumb.url }}">{{ breadcrumb.label }}</a></li>
            {% endfor %}
        </ol>
    </div>
</div>