{% set version = "VERSION" | get_config %}

<footer>
    <div id="footer-content">
        <div style="float:left">Prez developed by <a href="https://surroundaustralia.com" target="_blank" rel="noopener noreferrer">SURROUND Australia Pty Ltd</a> 2022 and <a href="https://kurrawong.net" target="_blank" rel="noopener noreferrer">Kurrawong AI</a>.</div>
        <div style="float:right">Prez version <a href="https://hub.docker.com/r/surroundaustralia/prez/tags">{{ version }}</a></div>
    </div>
</footer>