{% extends "_page.html" %}

{% set main_active_page = "home" %}

{% block content %}
<div id="content-col-main">
    <h1>FSDF Linked Data APIs</h1>
    <p>
        This is the homepage of the <a href="https://fsdf.org.au">Foundational Spatial Data Framework (FSDF) Project</a>'s
        <a href="https://www.w3.org/standards/semanticweb/data">Linked Data</a> Application Programming Interfaces (APIs).
    </p>
    <p>
        This is one API providing access to multiple spatial datasets and vocabularies and there are other APIs similar to this one too:
    </p>
    <ul>
        <li>
            <strong><a href="https://linked.fsdf.org.au/spaceprez">This API - Spatial</a></strong>
            <ul>
                <li>Electrical Infrastructure</li>
                <li>Facilities</li>
                <li>Floods</li>
                <li>Place Names</li>
            </ul>
        </li>
        <li>
            <strong><a href="https://linked.fsdf.org.au/vocprez">This API - Vocabularies</a></strong>
            <ul>
                <li>Multiple FSDF vocabularies</li>
            </ul>
        </li>
        <li>
            <strong><a href="https://asgs.linked.fsdf.org.au">ASGS API</a></strong>
            <ul>
                <li><a href="https://asgs.linked.fsdf.org.au/dataset/asgsed3">ASGS Edition 3</a></li>
            </ul>
        </li>
        <li>
            <strong><a href="https://geofabric.linked.fsdf.org.au">Geofabric API</a></strong>
            <ul>
                <li><a href="https://geofabric.linked.fsdf.org.au/dataset/geofabric">Geofabric Version 3</a></li>
            </ul>
        </li>
        <li>
            <strong><a href="https://gnaf.linked.fsdf.org.au">G-NAF API</a></strong>
            <ul>
                <li><a href="https://gnaf.linked.fsdf.org.au/dataset/gnaf">G-NAF, Latest public version</a></li>
            </ul>
        </li>
    </ul>
    <p>
        These APIs are the point-of-truth for their content and persistent identifiers for their content will resolve to them.
    </p>
    <p>
        Additionally there is a combined API that contains a copy of all of the above, aggregated together for ease of cross-querying:
    </p>
    <ul>
        <li>
            <strong><a href="https://cache.linked.fsdf.org.au">Cache API</a></strong>
            <ul>
                <li><a href="https://cache.linked.fsdf.org.au/datasets">All datasets</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
