{% extends "_page.html" %}

{% set main_active_page = "home" %}

{% block content %}
<div id="content-col-main">
    <h1>Welcome to Prez</h1>
    <p>This is the new version of VocPrez (VocPrez 3), combined with CatPrez, OGC APIs, and the upcoming TimePrez.</p>
    <ul>
        {% if "vocprez" in enabled_prezs %}
            <li><a href="{{ url_for('vocprez_home') }}">VocPrez</a></li>
        {% endif %}
    </ul>
    <div>
        <a href="/object?uri=http://example.com/scheme/scheme1" class="btn">CS1</a>
        <a href="/object?uri=http://example.com/scheme/scheme1&_profile=alt" class="btn">CS1 alt</a>
    </div>
    <!-- <a href="/object?uri=http://example.com/scheme/scheme1">CS link</a>
    <a href="/object?uri=http://example.com/scheme/scheme1&_profile=alt">CS alt link</a> -->
</div>
{% endblock %}