<nav id="main-nav" class="{% if is_sidenav %}colnav{% else %}rownav{% endif %}{% if prezs | length > 1 and active_prez %} has-subnav{% endif %}">
    <a href="{{ url_for('index') }}" class="main-nav-item{% if main_active_page == 'home' %} active{% endif %}">Home</a>
    {% if prezs | length == 1 %}
        {% if prezs[0] == "VocPrez" %}
            <a href="{{ url_for('schemes_endpoint') }}" class="main-nav-item{% if sub_active_page == 'vocabs' %} active{% endif %}">Vocabs</a>
            <a href="{{ url_for('collections_endpoint') }}" class="main-nav-item{% if sub_active_page == 'collections' %} active{% endif %}">Collections</a>
        {% elif prezs[0] == "SpacePrez" %}
            <a href="{{ url_for('datasets_endpoint') }}" class="main-nav-item{% if sub_active_page == 'datasets' %} active{% endif %}">Datasets</a>
            <a href="{{ url_for('conformance') }}" class="main-nav-item{% if sub_active_page == 'conformance' %} active{% endif %}">Conformance</a>
        {% elif prezs[0] == "CatPrez" %}
            <a href="{{ url_for('catalog_endpoint', catalog_id="catprez") }}" class="main-nav-item{% if sub_active_page == 'catalogs' %} active{% endif %}">Catalogues</a>
            <a href="{{ url_for('conformance') }}" class="main-nav-item{% if sub_active_page == 'conformance' %} active{% endif %}">Conformance</a>
        {% endif %}
    {% else %}
        {% for prez in prezs %}
            {% set prez_lower = prez | lower %}
            <div class="main-nav-item prez-item{% if main_active_page == prez %} active{% elif active_prez == prez %} active-prez{% endif %}">
                <a href="/{{ prez_lower }}">{{ prez }}</a>
                <button class="btn"><i class="far fa-angle-down"></i></button>
            </div>
            {% if active_prez == prez %}
                {% include prez_lower + "/" + prez_lower + "_nav.html" %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <a href="{{ url_for('search') }}" class="main-nav-item{% if main_active_page == 'search' %} active{% endif %}">Search</a>
    <a href="{{ url_for('sparql_get') }}" class="main-nav-item{% if main_active_page == 'sparql' %} active{% endif %}">SPARQL</a>
    <a href="{{ url_for('profiles') }}" class="main-nav-item{% if main_active_page == 'profiles' %} active{% endif %}">Profiles</a>
    <a href="{{ url_for('about') }}" class="main-nav-item{% if main_active_page == 'about' %} active{% endif %}">About</a>
    <a href="/docs" class="main-nav-item{% if main_active_page == 'docs' %} active{% endif %}">API Docs</a>
</nav>