{% extends "_page.html" %}
{% set has_alt = true %}

{% if prez is not none %}
    {% if prezs | length == 1 %}
        {% set breadcrumbs = [
            {"label": "Profiles", "url": url_for("profiles")}
        ] %}
        {% set main_active_page = "profiles" %}
    {% else %}
        {% set breadcrumbs = [
            {"label": prez, "url": url_for(prez | lower + "_home_endpoint")},
            {"label": "Profiles", "url": url_for(prez | lower + "_profiles")}
        ] %}
    {% endif %}
    {% set active_prez = prez %}
    {% set sub_active_page = "profiles" %}
{% else %}
    {% set breadcrumbs = [
        {"label": "Profiles", "url": url_for("profiles")}
    ] %}
    {% set main_active_page = "profiles" %}
{% endif %}

{% block content %}
<div id="content-col-main">
    <h1>Profiles</h1>
    <p>
        This page lists all of the profiles recognised by {% if prez is not none %}{{ prez }}{% else %}Prez{% endif %}.
    </p>
    <ul>
        {% for profile in profile_list %}
            <li>{{ profile.id }} - <a href="{{ profile.uri }}" target="_blank" rel="noopener noreferrer">{{ profile.label }}</a></li>
        {% endfor %}
    </ul>
</div>
<div id="content-col-sidebar">
    {% include "alt_link.html" %}
</div>
{% endblock %}
