{% extends "page.html" %}
{% block content %}
  <div style="display:grid; grid-template-columns: 80% auto;">
      <div style="grid-column: 1; grid-row: 1;">
          <h1>{{ label }}</h1>
          <dl>
            <dt>URI</dt>
            <dd><strong><a href="{{ uri }}">{{ uri }}</a></strong></dd>
            <dt>Description</dt>
            <dd>
              <p>This object is a container that contains a number of members. See <a href="?_profile=alt">other profiles</a> of this object to see those members.</p>
              {{ comment }}
            </dd>
          </dl>
      </div>
      <div style="grid-column: 2; grid-row: 1;">
        {% include 'alt_link.html' %}
      </div>
  </div>
{% endblock %}
