{% extends "page.html" %}

{% block content %}
    <h1>Contact Us</h1>
    <table class="metadata concept">
      <tr>
        <th>Email</th>
        <td><a href="mailto:enquiries@bodc.ac.uk">enquiries@bodc.ac.uk</a></td>
      </tr>
      <tr>
        <th>Telephone</th>
        <td>+44 (0) 782 512 0946</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>
          <strong>British Oceanographic Data Centre</strong><br />
          National Oceanography Centre<br />
          Joseph Proudman Building<br />
          6 Brownlow Street<br />
          Liverpool<br />
          L3 5DA<br />
          United Kingdom
        </td>
      </tr>
    </table>

{% endblock %}