{% extends "_page.html" %}
{% from "_macros.html" import render_row, render_concept_list with context %}
{% set prezs = "ENABLED_PREZS" | get_config %}
{% set has_alt = true %}

{% if prezs | length == 1 %}
    {% set breadcrumbs = [
        {"label": "Collections", "url": url_for("collections_endpoint")},
        {"label": collection.title, "url": url_for("collection_endpoint", collection_id=collection.id)}
    ] %}
    {% set main_active_page = "collections" %}
{% else %}
    {% set breadcrumbs = [
        {"label": "VocPrez", "url": url_for("vocprez_home_endpoint")},
        {"label": "Collections", "url": url_for("collections_endpoint")},
        {"label": collection.title, "url": url_for("collection_endpoint", collection_id=collection.id)}
    ] %}
{% endif %}

{% set active_prez = "VocPrez" %}
{% set sub_active_page = "collections" %}

{% block content %}
<div id="content-col-main">
    <h1>
        {% if collection.title is not none %}
            {{ collection.title }}
        {% else %}
            Collection title
        {% endif %}
    </h1>
    <p>Instance URI: <a href="{{ uri }}">{{ collection.uri }}</a> <small><a href="{{ collection.uri }}" target="_blank"><i class="far fa-external-link"></i></a></small></p>
    {% if collection.description is not none %}
        <div>
            <p>{{ collection.description }}</p>
        </div>
    {% endif %}
    <div class="table-wrapper">
        <table class="props-table">
            <tbody>
                {% for prop in collection.properties %}
                    {{ render_row(prop) }}
                {% endfor %}
                <tr>
                    <th><a href="http://www.w3.org/2004/02/skos/core#member" target="_blank">Concepts</a></th>
                    <td>
                        {% for concept in collection.concepts | sort(attribute = "label") %}
                            {{ render_concept_list(concept) }}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="content-col-sidebar">
    {% include "alt_link.html" %}
</div>
{% endblock %}
