{% extends "_page.html" %}
{% set prezs = "ENABLED_PREZS" | get_config %}
{% set has_alt = true %}

{% if prezs | length == 1 %}
    {% set main_active_page = "home" %}
{% else %}
{% set main_active_page = "VocPrez" %}
    {% set breadcrumbs = [
        {"label": "VocPrez", "url": url_for("vocprez_home_endpoint")}
    ] %}
{% endif %}

{% set active_prez = "VocPrez" %}
{% set sub_active_page = "home" %}

{% block content %}
<div id="content-col-main">
    {% if prezs | length == 1 %}
        <h1>System Home</h1>
    {% else %}
        <h1>VocPrez Home</h1>
    {% endif %}
    <p>
        Welcome to VocPrez 3, the next version of <a href="https://github.com/RDFLib/VocPrez" target="_blank" rel="noopener noreferrer">VocPrez</a> - a read-only web delivery system for Simple Knowledge Organization System (SKOS)-formulated RDF vocabularies.
    </p>
    <p>
        VocPrez presents different views of vocabularies from a list of RDF sources. This system currently implements sources from local files, Research Vocabularies Australia and VocBench.
    </p>
    <p>
        See the <a href="{{ url_for('vocprez_about') }}">About</a> page for more information about VocPrez itself.
    </p>
    <h2>Vocabularies</h2>
    <p>
        Vocabularies (or ConceptSchemes) contain a hierarchical list of terms (or Concepts).
    </p>
    <p>
        See the <a href="{{ url_for('schemes_endpoint') }}">Vocabularies Register</a> for a list of vocabularies this instance of VocPrez knows about.
    </p>
    <h2>Collections</h2>
    <p>
        Collections are a grouping of terms (or Concepts), represented as a flat listing of Concepts.
    </p>
    <p>
        See the <a href="{{ url_for('collections_endpoint') }}">Collections page</a> for a list of collections this instance of VocPrez knows about.
    </p>
    <h2>Concepts</h2>
    <p>
        Vocabulary terms (or Concepts) are listed within a vocabulary's home page. Each vocabulary presents both a concept hierarchy (tree) view and a link to a flat list of its concepts.
    </p>
    <h2>Search & Querying</h2>
    <p>
        You can search for Concepts within one vocab or across all vocabs using the <a href="{{ url_for('search') }}">Search page</a> or perform SPARQL queries using the <a href="{{ url_for('sparql_get') }}">SPARQL page</a>.
    </p>
</div>
<div id="content-col-sidebar">
    {% include "alt_link.html" %}
</div>
{% endblock %}
