{% extends "_page.html" %}
{% from "_macros.html" import render_row, render_concept_hierarchy with context %}
{% set prezs = "ENABLED_PREZS" | get_config %}
{% set has_alt = true %}

{% if prezs | length == 1 %}
    {% set breadcrumbs = [
        {"label": "Vocabs", "url": url_for("schemes_endpoint")},
        {"label": scheme.title, "url": url_for("scheme_endpoint", scheme_id=scheme.id)}
    ] %}
    {% set main_active_page = "vocabs" %}
{% else %}
    {% set breadcrumbs = [
        {"label": "VocPrez", "url": url_for("vocprez_home_endpoint")},
        {"label": "Vocabs", "url": url_for("schemes_endpoint")},
        {"label": scheme.title, "url": url_for("scheme_endpoint", scheme_id=scheme.id)}
    ] %}
{% endif %}

{% set active_prez = "VocPrez" %}
{% set sub_active_page = "vocabs" %}

{% block content %}
<div id="content-col-main">
    <h1>
        {% if scheme.title is not none %}
            {{ scheme.title }}
        {% else %}
            ConceptScheme title
        {% endif %}
    </h1>
    <p>Instance URI: <a href="{{ uri }}">{{ scheme.uri }}</a> <small><a href="{{ scheme.uri }}" target="_blank"><i class="far fa-external-link"></i></a></small></p>
    {% if scheme.description is not none %}
        <div>
            <p>{{ scheme.description }}</p>
        </div>
    {% endif %}
    <div class="table-wrapper">
        <table class="props-table">
            <tbody>
                {% for prop in scheme.properties %}
                    {{ render_row(prop) }}
                {% endfor %}
                <tr>
                    <th><a href="http://www.w3.org/2004/02/skos/core#member" target="_blank">Concepts</a></th>
                    <td>
                        <button id="expand-all"><i id="expand-all-icon" class="far fa-plus"></i> <span id="expand-all-text">Expand all</span></button>
                        <ol id="concept-hierarchy">
                            {% for concept_uri, concept_props in scheme.concepts.items() | sort(attribute = "1.label") %}
                                {{ render_concept_hierarchy(scheme.id, concept_uri, concept_props) }}
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="content-col-sidebar">
    {% include "alt_link.html" %}
</div>
{% endblock %}
