{% extends "_page.html" %}

{% set main_active_page = "home" %}

{% block content %}
<h1>Welcome to Prez</h1>
<p>This is the new version of VocPrez (VocPrez 3), combined with CatPrez, OGC APIs, and the upcoming TimePrez.</p>
<ul>
    {% if "vocprez" in enabled_prezs %}
        <li><a href="{{ url_for('dataset') }}">VocPrez</a></li>
    {% endif %}
</ul>
<a href="/object?uri=http://example.com/scheme/scheme1">CS link</a>
<a href="/object?uri=http://example.com/scheme/scheme1&_profile=alt">CS alt link</a>
{% endblock %}