html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: 1fr fit-content(1000px) 1fr ;
    /*grid-template-rows: 140px 50px auto 50px;*/

    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.2em;
}

#vocprez {
    position: fixed;
    top: 240px;
    left: -70px;
    transform: rotate(-90deg);
    color: grey;
}

#vocprez a {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #007dbb;
}

#vocprez a:hover {
    color: #333;
}

#vocprez a#versionlink {
    font-size: 14px;
}

#header {
    margin-top: 10px;
    color: rgb(19, 50, 77);
    font-weight: bold;
    text-align: center;
}

#header-title {
    font-size: 30px;
    padding-left: 120px;
}

#header-title a {
    display: inline-block;
    background-color: rgb(19, 50, 77);
    color: white;
    font-size: 14px;
    font-weight: normal;
    padding: 3px 5px 3px 5px;
    float: right;
    margin-left: 10px;
}

#mainmenu {
    text-align: center;

    background-color: rgb(19, 50, 77);
    color: white;
    padding: 10px 0;
    height: 20px;
}

#mainmenu a {
    color: white;
    margin: 0 5px 0 5px;
}

#content {

}

#footer {
    border-top:solid 2px rgb(19, 50, 77);
    display: grid ;
    grid-template-rows: 50px 100px 10px;
    color: white;
}
#footer-top {
    text-align: center;
    background-color: rgb(53, 80, 119);
    padding-top: 15px;
    font-size: 20px;
}
#footer-top a {
    color: white;
    margin: 0 10px 0 10px;
}
#footer-bottom {
    background-color: rgb(19, 50, 77);
    color: lightgrey;
    text-align: right;
    padding:20px 10px 20px 10px;
}
#footer-bottom a {
    color: white;
    display: inline-block;
    background-color: rgb(53, 80, 119);
    border: solid 1px rgb(73, 100, 139);
    padding:5px 10px 5px 10px;
    float: left;
    margin-left: 30px;
}
#footer-bottom-border {
    background-color: rgb(19, 50, 77);
}

.disabled a {
    color: gray;
}

table.layout {
    border-collapse: collapse;
    border: none;
    table-layout: fixed;

}
table.layout tr:nth-child(even) {
    background-color: lightgrey;
}
table.layout td {
    padding:5px;
}

h1, h2, h3, h4 {
    color: rgb(19, 50, 77);
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 26px;
    line-height: 30px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

p, a, li, td, th, dt, dd {
    font-size: 14px;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

a {
    color: #007dbb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

code {
  font-size: 1em ;
}

table.alternates td {
    vertical-align: top;
    padding: 5px;
}

table.content td {
    padding: 5px;
}

ul {
    line-height: 1.5em;
}

.metadata {
    border-collapse: collapse;
    border: none;
    max-width: 900px;
    margin-bottom: 20px;
}
.metadata td,
.metadata th {
    padding: 5px;
    border: none;
    vertical-align: top;
    text-align: left;
}
.metadata th {
    white-space: nowrap;
}

.content {
    margin-bottom: 40px;
    padding: 40px;
    width: 75%;
    box-shadow: 0 0 10px rgba(53, 52, 53, 0.1);
    border: 1px solid rgba(53, 52, 53, 0.1);
    border-radius: 2px;
    background: white;
    margin-left: 200px;
}

.content > h1 {
    margin-bottom: 26px;
    padding-bottom: 5px;
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    border-bottom: 2px solid #f0f0f0;
}

.collapsible {
    font-weight: normal;
    color: #4294B0;
    text-decoration: underline;
    cursor: pointer;
}

.collapsible-content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.overflow {
    overflow: auto;
    min-height: 28px;
}

#altprof {

}

#filter {

}

/*
* Pagination
*/
/* Borrowed from Bootstrap3 compiled CSS */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0 0;
  border-radius: 4px;
}
.pagination li {
  display: inline;
}
.pagination li > a,
.pagination li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination li:first-child > a,
.pagination li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination li:last-child > a,
.pagination li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination li > a:hover,
.pagination li > span:hover,
.pagination li > a:focus,
.pagination li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination .active > a,
.pagination .active > span,
.pagination .active > a:hover,
.pagination .active > span:hover,
.pagination .active > a:focus,
.pagination .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination .disabled > span,
.pagination .disabled > span:hover,
.pagination .disabled > span:focus,
.pagination .disabled > a,
.pagination .disabled > a:hover,
.pagination .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg li > a,
.pagination-lg li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg li:first-child > a,
.pagination-lg li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg li:last-child > a,
.pagination-lg li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm li > a,
.pagination-sm li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm li:first-child > a,
.pagination-sm li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm li:last-child > a,
.pagination-sm li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*
*   Automated pagination info
*/
.collapsible-content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border:solid 1px black;
  background-color: lightgrey;
  font-weight: normal;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#vocprez2 {
    display: none;
}

#top-wrapper {
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
}

#collection-heading {
    width: 70%;
}

#alt-wrapper {
    margin-left: 20px;
}

@media (max-device-width: 575.98px) {
    #mainmenu {
        font-size: 20px;
    }

    #footer-top {
        align-items: center;
        font-size: 12px;
        padding: 8px;
    }

    #footer-top > .dropdown > a {
        font-size: 12px !important;
    }

    #vocprez {
        display: none;
    }

    #vocprez2 {
        background-color: lightgrey;
        height: 40px;
        padding: 8px;
        align-items: center;
        display: flex;
        font-size: normal;
        color: grey;
        justify-content: flex-start;
    }

    #bottom-vocprez {
        margin-left: 10px;
    }

    #vocprez2 span {
        font-size: 1.5em;
        margin-left: 10px;
    }

    #vocprez2 a {
        font-size: 2em;
        font-weight: bold;
        text-decoration: none;
        color: #007dbb;
    }

    #vocprez2 a:hover {
        color: #333;
    }

    #vocprez2 a#versionlink2 {
        font-size: 1.5em;
        margin-right: auto;
    }

    #content {
         text-align: justify;
         padding: 16px;
    }

    #footer {
        display: flex;
        flex-direction: column;
    }

    #footer-bottom > img {
        height: 100px !important;
    }

    #footer-bottom > a {
        font-size: 1.5em;
    }

    p.copyright {
        font-size: 20px;
    }

    #header-title > span {
        font-size: 40px;
        line-height: 0.7;
    }

    #header-title > a {
        font-size: 20px;
        padding: 8px;
        text-align: center;
    }

    #header-logos {
        padding: 0 12px;
        margin-bottom: 30px;
    }

    #header-logos img {
        height: 90px !important;
    }

    html {
        text-size-adjust: 100%;
    }

    #top-wrapper {
        display: flex;
        flex-direction: column;
    }

    #collection-heading {
        width: 100%;
    }

    #alt-wrapper {
        margin-left: 0px;
    }
}

a.format-button {
    width:60px;
    height:22px;
    border-radius:5px;
    padding:3px;
    border:solid 2px #007dbb;
    text-align:center;
    vertical-align:middle;
    font-size:80%;
}

table.vocs {
    border-collapse: collapse;
    border: none;
    table-layout: fixed;
    margin-bottom: 20px;
}
table.vocs thead {
    background-color: lightgrey;
}
table.vocs thead td {
    cursor: pointer;
}
table.vocs thead th {
    padding: 3px;
    white-space: nowrap;
    cursor: pointer;
}
table.vocs tr:nth-child(even) {
    background-color: lightgrey;
}
table.vocs td {
    padding: 3px;
    max-width: 230px;
}