{% extends "page.html" %}

{% block content %}
  <style>
    .citation {
        padding:10px 50px 10px 50px;
        font-weight: bold;
    }
  </style>
  <h1>About NVS</h1>
  <p>The NVS technical and content governance is coordinated by a small team of data and semantic technology specialists at the National Oceanography Centre - British Oceanographic Data Centre (BODC).</p>
  <h2>Contact us</h2> 
  <p>You can contact us via our group mail address (<a href="mailto:vocab.services@bodc.ac.uk">vocab.services@bodc.ac.uk</a>) or via our GitHub repositories <a href="https://github.com/nvs-vocabs">https://github.com/nvs-vocabs</a>.</p>
  <p>Enquiries regarding the NERC Vocabulary Server and associated services can also be made via BODC's main contact points: <a href="https://www.bodc.ac.uk/about/contact_us/contact_details/">https://www.bodc.ac.uk/about/contact_us/contact_details/</a>.</p>

  <h2>Licensing</h2>
  <p>Unless otherwise specified, the content of the NVS and of these webpages is licensed under CC BY 4.0 (<a href="https://creativecommons.org/licenses/by/4.0/legalcode">legal code</a>).</p>

  <h2>Attribution</h2>
  <p>The NVS as a whole should be attributed as follows:</p>
  <p class="citation">The NERC Vocabulary Server (NVS), National Oceanography Centre - British Oceanographic Data Centre (BODC), <a href="https://vocab.nerc.ac.uk">https://vocab.nerc.ac.uk</a></p>
  <p>If referring to specific collection(s), then the title of the collection, its URI, and the creator of the collection should also be acknowledged. Example:</p>
  <p class="citation">SeaVoX Device Catalogue (<a href="http://vocab.nerc.ac.uk/collection/L22/current/">http://vocab.nerc.ac.uk/collection/L22/current/</a>), SeaDataNet and MarineXML Vocabulary Content Governance Group (British Oceanographic Data Centre YYYY)</p>
  <p>Where YYYY is the year the NVS content or services were accessed. If appropriate, please also quote the collection's version number.</p>

  <h2>Citation</h2>
  <p>Please cite us as follows:</p>
  <p class="citation">British Oceanographic Data Centre (YYYY). The NERC Vocabulary Server, Natural Environment Research Council, <a href="https://vocab.nerc.ac.uk">https://vocab.nerc.ac.uk</a>.</p>
  <p>If citing a specific collection, then use the following syntax: [creator], year [from the date], [title] [versionInfo]. [publisher]. [url] accessed on [access date].</p>
<p> For example:</p>
<p class="citation">Max Planck Institute of Animal Behavior (2019) Movebank Attribute Dictionary, version 2. Natural Environment Research Council. http://vocab.nerc.ac.uk/collection/MVB/current accessed on 24 April 2020.</p>


  <h2>Key publications</h2>
  <p>Intergovernmental Oceanographic Commission of UNESCO. 2019. Ocean Data Standards, Vol.4: Technology for SeaDataNet Controlled Vocabularies for describing
    Marine and Oceanographic Datasets - A joint Proposal by SeaDataNet and ODIP projects. Ostend, IODE/UNESCO. (IOC Manuals and Guides, 54, Vol. 4.) 31 pp. (<a href="https://www.iode.org/index.php?option=com_oe&task=viewDocumentRecord&docID=25099">IOC/2019/MG/54 Vol.4</a>).</p>
  <p>Leadbetter, Adam M. ; Lowry, Roy K. ; Clements, D. Oliver. 2014. Putting meaning into NETMAR - the open service network for marine environmental data. INTERNATIONAL JOURNAL OF DIGITAL EARTH,  Volume 7 Issue 10 Page 811-828</p>
{% endblock %}
