<div class="altprof" style="grid-column: 2;">
    <h3>Alternate Formats</h3>
    <p>Other formats for this page:</p>
    <a class="format-button" href="?_profile={{ profile_token }}&_mediatype=application/rdf+xml">RDF/XML</a>
    <a class="format-button" href="?_profile={{ profile_token }}&_mediatype=text/turtle">Turtle</a>
    <a class="format-button" href="?_profile={{ profile_token }}&_mediatype=application/ld+json">JSON-LD</a>
    <h3>Alternate Profiles</h3>
    <p>Other views of this page:</p>
        <p>
            <a class="format-button" style="width:200px;" href="?_profile=alt">Alternate Profiles</a>
            <span class="tooltip" style="font-weight:bold;">?<span class="tooltiptext">Different Media Types (HTML, text, RDF, JSON etc.) and different information model views, <em>profiles</em>, are available for this resource.</span></span>
        </p>
</div>