{% extends "page.html" %}
{% block content %}
  <div style="display:grid; grid-template-columns: 80% auto;">
    <div style="grid-column: 1; grid-row: 1;">
      <h1>Vocabulary</h1>
      <h2>{{ collection.prefLabel.value }}</h2>
        {% if collection.conforms_to is defined and collection.conforms_to.value == "https://w3id.org/env/puv" %}
        <h4>
          <em>This collection is part of the <a style="font-size:revert;" href="https://w3id.org/env/puv">Parameter Usage Vocabulary</a> set of vocabularies.</em>
        </h4>
        {% endif %}
      <table class="metadata">
        <tr>
          <th>URI</th>
          <td><strong><a id="this_uri" href="{{ uri }}">{{ uri }}</a></strong></td>
        </tr>
        {% if collection.description is defined  %}
        <tr>
          <th><a href="http://purl.org/dc/terms/description">Description</a></th><td>{{ collection.description.value }}</td>
        </tr>
        {% endif %}
        {% if collection.creator is defined  %}
        <tr>
          <th><a href="http://purl.org/dc/terms/creator">Creator</a></th><td>{{ collection.creator.value }}</td>
        </tr>
        {% endif %}
        {% if collection.modified is defined  %}
        <tr>
          <th><a href="http://purl.org/dc/terms/modified">Modified</a></th><td>{{ collection.modified.value }}</td>
        </tr>
        {% endif %}
        {% if collection.versionInfo is defined  %}
        <tr>
          <th><a href="http://www.w3.org/2002/07/owl#versionInfo">Version Info</a></th><td>{{ collection.versionInfo.value }}</td>
        </tr>
        {% endif %}
        {% if collection.id is defined  %}
        <tr>
          <th><a href="http://purl.org/dc/terms/identifier">Identifier</a></th><td>{{ collection.id.value }}</td>
        </tr>
        {% endif %}      
        {% if collection.registermanager is defined  %}
        <tr>
          <th>Register Manager</th><td>{{ collection.registermanager.value }}</td>
        </tr>
        {% endif %}
        {% if collection.registerowner is defined  %}
        <tr>
          <th>Register Owner</th><td>{{ collection.registerowner.value }}</td>
        </tr>
        {% endif %}
        {% if collection.seeAlso is defined  %}
        <tr>
          <th><a href="http://www.w3.org/2000/01/rdf-schema#seeAlso">See Also</a></th><td><a href="{{ collection.seeAlso.value }}">{{ collection.seeAlso.value }}</a></td>
        </tr>
        {% endif %}
    </table>
    </div>
    <div style="grid-column: 2; grid-row: 1;">
      {% include 'alt_link.html' %}
    </div>
  </div>
  <div style="grid-column: 1/2; grid-row: 2;">
    <h3><a href="http://www.w3.org/2004/02/skos/core#member">Members</a></h3>
    <table id="vocsort" class="vocs tablesorter" style="table-layout:fixed; max-width:1000px; margin-bottom:20px;">
      <thead>
        <tr>
          <th>ID <span class="arr">&uarr;</span></th>
          <th>Preferred&nbsp;Label <span class="arr">&uarr;</span></th>
          <th>Definition <span class="arr">&uarr;</span></th>
          <th>Date <span class="arr">&uarr;</span></th>
        </tr>
      </thead>
      <tbody>
      {% for concept in collection.concepts %}
        <tr>
          <td style="vertical-align:top; padding-bottom:10px; word-wrap:break-word; word-break:break-all; max-width:150px;"><a href="{{ concept.systemUri }}">{{ concept.id }}</a></td>
          <td style="vertical-align:top; padding-bottom:10px; word-wrap:break-word; max-width:250px;">{{ concept.prefLabel }}
            {% if concept.deprecated %}<sup style="color:red;">DEPRECATED</sup>{% endif %}</td>
          <td style="vertical-align:top; padding:0 10px 10px 10px; word-wrap:break-word; max-width:510px;">{{ concept.definition }}</td>
          <td style="vertical-align:top; padding-bottom:10px; width:80px;">{{ concept.date }}</td>
        </tr>
      {% endfor %}
      {% if collection.concepts|length < 1 %}
        <tr>
          <th colspan="4"><em>There are no Concepts listed for this Vocabulary</em></th>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/jquery.tablesorter.min.js"></script>
  <script>
    $(function() {
      $("#vocsort").tablesorter();
    });

    $("#vocsort thead tr th").click(function(event) {
      if ($(this).find(".arr").html() == "↓") {
        $(".arr").html("&uarr;")
      } else {
        $(".arr").html("&uarr;")
        $(this).find(".arr").html("&darr;")
      }
    });
  </script>
{% endblock %}
