{% extends "page.html" %}
{% block content %}
  <div style="display:grid; grid-template-columns: 80% auto;">
    <div id="top-wrapper">
      <div id="collection-heading" style="grid-column: 1; grid-row: 1;">
        <h1>NVS Thesauri</h1>
        <dl>
          <dt>URI</dt>
          <dd><strong><a href="{{ uri }}">{{ uri }}</a></strong></dd>
          <dt>Description</dt>
          <dd>SKOS concept schemes managed by the NERC Vocabulary Server. A concept scheme can be viewed as an aggregation of one or more SKOS concepts. Semantic relationships (links) between those concepts may also be viewed as part of a concept scheme. A concept scheme is therefore useful for containing the concepts registered in multiple concept collections that relate to each other as a single semantic unit, such as a thesaurus.</dd>
        </dl>
      </div>
      <div id="alt-wrapper" style="grid-column: 2; grid-row: 1;">
        {% include 'alt_link.html' %}
        <div id="filter">
          <h4>Filter</h4>
          <form method="get" action=""  style="display: inline-block;">
            <input type="text" name="filter" value="{{ filter }}" />
            <button>Filter</button>
          </form>
          <form method="get" action="" style="display: inline-block;">
            <button>Clear</button>
          </form>
          <span class="tooltip" style="font-weight:bold;">?<span class="tooltiptext">A simple text matching filter of the list content to the left</span></span>
        </div>
      </div>
    </div>
    <div style="grid-column: 1/3; grid-row: 2;">
      <h3>Vocabularies</h3>
      <p><em>Sort by click on table headings, Filter using the search to the right.</em></p>
      <table id="vocsort" class="vocs tablesorter">
        <thead>
          <tr>
            <th style="width:50px;">ID <span class="arr">&uarr;</span></th>
            <th style="width:100px; white-space: nowrap;">Title <span class="arr">&uarr;</span></th>
            <th style="width:60px;">Version <span class="arr">&uarr;</span></th>
            <th style="width:100px;">Version Date <span class="arr">&uarr;</span></th>
            <th style="width:200px;">Description <span class="arr">&uarr;</span></th>
            <th style="width:100px;">Governance <span class="arr">&uarr;</span></th>
          </tr>
        </thead>
        <tbody>
        {%- for conceptscheme in conceptschemes -%}
          <tr>
            <td><a href="{{ conceptscheme.systemUri.value }}">{{ conceptscheme.id.value }}</a></td>
            <td>{{ conceptscheme.prefLabel.value }}</td>
            <td>{{ conceptscheme.versionInfo.value }}</td>
            <td>{{ conceptscheme.modified.value }}</td>
            <td>{{ conceptscheme.description.value }}</td>
            <td>{{ conceptscheme.creator.value }}</td>
          </tr>
        {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/jquery.tablesorter.min.js"></script>
  <script>
      $(function() {
        $("#vocsort").tablesorter();
      });

      $("#vocsort thead tr th").click(function(event) {
        if ($(this).find(".arr").html() == "↓") {
          $(".arr").html("&uarr;")
        } else {
          $(".arr").html("&uarr;")
          $(this).find(".arr").html("&darr;")
        }
      });
    </script>
{% endblock %}
