{% extends "_page.html" %}
{% from "_macros.html" import render_predicate, render_predicate_o, render_object, render_concept_list with context %}

{% block content %}
<h1>
    {% if concept.title is not none %}
        {{ concept.title }}
    {% else %}
        Concept title
    {% endif %}
</h1>
<p>Instance URI: <a href="{{ uri }}">{{ concept.uri }}</a><small><a href="{{ concept.uri }}">(ext link)</a></small></p>
<p>Within scheme: <a href="{{ url_for('scheme', scheme_id=concept.scheme.id) }}">{{ concept.scheme.title }}</a></p>
{% if concept.description is not none %}
    <div>
        <p>{{ concept.description }}</p>
    </div>
{% endif %}
<table>
    <tbody>
        {% for prop in concept.properties %}
            <tr>
                <th>{{ render_predicate(prop) }}</th>
                <td>{{ render_object(prop) }}</td>
            </tr>
        {% endfor %}
        
    </tbody>
</table>
<a href="{{ uri }}?_profile=alt">Alternate Profiles</a>
{% endblock %}