{% extends "vocprez/_vocprez_page.html" %}

{% set breadcrumbs = [
    {"label": "VocPrez", "url": url_for("dataset")},
    {"label": "Vocabs", "url": url_for("schemes")}
] %}
{% set vocprez_active_page = "vocabs" %}

{% block vocprez_content %}
<div id="content-col-main">
    <h1>{{ label }}</h1>
    <p>{{ comment }}</p>
    <div>
        <ul>
            {% for member in members %}
                <li><a href="{{ url_for('scheme', scheme_id=member.id) }}">{{ member.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="content-col-sidebar">
    {% include "alt_link.html" %}
</div>
{% endblock %}