{% extends "_page.html" %}
{% set prezs = "ENABLED_PREZS" | get_config %}
{% set has_alt = true %}

{% if prezs | length == 1 %}
    {% set main_active_page = "home" %}
{% else %}
    {% set breadcrumbs = [
        {"label": "VocPrez", "url": url_for("dataset")}
    ] %}
{% endif %}

{% set active_prez = "VocPrez" %}
{% set vocprez_active_page = "home" %}

{% block content %}
<div id="content-col-main">
    <h1>Welcome to VocPrez</h1>
    <div>
        <a href="/object?uri=http://example.com/scheme/scheme1" class="btn">CS obj link</a>
        <a href="/object?uri=http://example.com/scheme/scheme1&_profile=alt" class="btn">CS obj alt link</a>
    </div>
    <div>
        <a href="/object?uri=http://example.com/collection/collection1" class="btn">Collection obj link</a>
    </div>
    <div>
        <a href="/object?uri=http://example.com/concept/concept1" class="btn">Concept obj link</a>
    </div>
</div>
<div id="content-col-sidebar">
    {% include "alt_link.html" %}
</div>
{% endblock %}