{% extends "_page.html" %}
{% from "_macros.html" import render_predicate, render_predicate_o, render_object, render_concept_list with context %}
{% set prezs = "ENABLED_PREZS" | get_config %}

{% if prezs | length == 1 %}
    {% set breadcrumbs = [
        {"label": "Vocabs", "url": url_for("schemes")},
        {"label": concept.scheme.title, "url": url_for("scheme", scheme_id=concept.scheme.id)},
        {"label": concept.title, "url": url_for("concept", scheme_id=concept.scheme.id, concept_id=concept.id)}
    ] %}
    {% set main_active_page = "vocabs" %}
{% else %}
    {% set breadcrumbs = [
        {"label": "VocPrez", "url": url_for("dataset")},
        {"label": "Vocabs", "url": url_for("schemes")},
        {"label": concept.scheme.title, "url": url_for("scheme", scheme_id=concept.scheme.id)},
        {"label": concept.title, "url": url_for("concept", scheme_id=concept.scheme.id, concept_id=concept.id)}
    ] %}
{% endif %}

{% set active_prez = "VocPrez" %}
{% set vocprez_active_page = "vocabs" %}

{% block content %}
<div id="content-col-main">
    <h1>
        {% if concept.title is not none %}
            {{ concept.title }}
        {% else %}
            Concept title
        {% endif %}
    </h1>
    <p>Instance URI: <a href="{{ uri }}">{{ concept.uri }}</a> <small><a href="{{ concept.uri }}"><i class="far fa-external-link"></i></a></small></p>
    <p>Within scheme: <a href="{{ url_for('scheme', scheme_id=concept.scheme.id) }}">{{ concept.scheme.title }}</a></p>
    {% if concept.description is not none %}
        <div>
            <p>{{ concept.description }}</p>
        </div>
    {% endif %}
    <table class="props-table">
        <tbody>
            {% for prop in concept.properties %}
                <tr>
                    <th>{{ render_predicate(prop) }}</th>
                    <td>{{ render_object(prop) }}</td>
                </tr>
            {% endfor %}
            {% if concept.broader %}
                <tr>
                    <th>Broader</th>
                    <td>
                        {% for broader in concept.broader %}
                            {{ render_concept_list(broader) }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if concept.narrower %}
                <tr>
                    <th>Narrower</th>
                    <td>
                        {% for narrower in concept.narrower %}
                            {{ render_concept_list(narrower) }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<div id="content-col-sidebar">
    {% include "alt_link.html" %}
</div>
{% endblock %}