{% extends "_page.html" %}
{% set prezs = "ENABLED_PREZS" | get_config %}
{% set has_alt = true %}

{% if prezs | length == 1 %}
    {% set main_active_page = "home" %}
{% else %}
{% set main_active_page = "CatPrez" %}
    {% set breadcrumbs = [
        {"label": "CatPrez", "url": url_for("catprez_home_endpoint")}
    ] %}
{% endif %}

{% set active_prez = "CatPrez" %}
{% set sub_active_page = "home" %}

{% block content %}
<div id="content-col-main">
    {% if prezs | length == 1 %}
        <h1>System Home</h1>
    {% else %}
        <h1>CatPrez Home</h1>
    {% endif %}
    <p>
        Welcome to CatPrez - a read-only web delivery system for Data Catalog Vocabulary (DCAT) information.
    </p>
    <p>
        See the <a href="{{ url_for('catprez_about') }}">About</a> page for more information about CatPrez itself.
    </p>
    <h2>Search & Querying</h2>
    <p>
        You can search for Concepts within one vocab or across all vocabs using the <a href="{{ url_for('search') }}">Search page</a> or perform SPARQL queries using the <a href="{{ url_for('sparql_get') }}">SPARQL page</a>.
    </p>
</div>
<div id="content-col-sidebar">
    {% include "alt_link.html" %}
</div>
{% endblock %}
