{% extends "_page.html" %}
{% set prezs = "ENABLED_PREZS" | get_config %}

{% if prezs | length == 1 %}
    {% set breadcrumbs = [
        {"label": "About", "url": url_for("about")}
    ] %}
    {% set main_active_page = "about" %}
{% else %}
    {% set breadcrumbs = [
        {"label": "CatPrez", "url": url_for("catprez_home_endpoint")},
        {"label": "About", "url": url_for("catprez_about")}
    ] %}
{% endif %}

{% set active_prez = "CatPrez" %}
{% set sub_active_page = "about" %}

{% block content %}
<div id="content-col-main">
    <h1>About CatPrez</h1>
    <p>CatPrez is a read-only web delivery system - web pages and API - for Data Catalog Vocabulary (DCAT) catalogue information. It complies with <a href="https://w3c.github.io/dx-connegp/connegp/" target="_blank" rel="noopener noreferrer">Content Negotiation by Profile</a>.</p>
    <h2>Introduction</h2>
    <p>This is an instance of CatPrez. It is a part of a Linked Data presentation API called Prez. This instance is the first demo version of Prez.</p>
    <h2>Documentation</h2>
    <p>Coming soon...</p>
    <h2>License</h2>
    <p>CatPrez is licensed using the <a href="https://github.com/surroundaustralia/Prez/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">BSD 3-Clause licence</a>.</p>
    <h2>Contacts</h2>
    <p>
        Maintainer:<br/>
        <a href="https://surroundaustralia.com" target="_blank" rel="noopener">SURROUND Australia Pty. Ltd.</a><br/>
        Email: <a href="mailto:info@surroundaustralia.com">info@surroundaustralia.com</a>
    </p>
</div>
{% endblock %}
