button, .btn {
    cursor: pointer;
    border-radius: 0;
    padding: 6px 10px;
    background-color: var(--btn);
    color: white;
    font-family: unset;
    font-size: unset;
    display: inline-block;
    border: 1px solid transparent;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--btn-hover);
        color: white;
    }

    &.outline {
        background-color: white;
        color: var(--btn);
        border: 1px solid var(--btn);
    
        &:hover {
            background-color: var(--btn);
            color: white;
        }
    }
}

.btn-sm {
    padding: 4px 6px;
    font-size: 12px;
}

button.concept-collapse-btn {
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding: 0;
    background-color: transparent;
    color: var(--btn);
}
