body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: var(--body-font);
}

header {
    display: flex;
    background-color: var(--header-bg);
    color: white;
}

#header-content {
    max-width: var(--page-max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 12px;

    & > h1 {
        text-align: center;
    }
}

main {
    display: flex;
    flex-grow: 1;
}

#container {
    max-width: var(--page-max-width);
    width: 100%;
    margin: 0px auto 0px auto;
    display: flex;
    flex-grow: 1;

    &.has-colnav {
        flex-direction: row;
    }

    &.has-rownav {
        flex-direction: column;
    }
}

#content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-width: 0;
}

#content-col-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 12px;
    min-width: 0;
}

#content-col-sidebar {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 250px;
    width: 100%;
    padding: 0px;
    overflow-x: hidden;
    transition: width 0.2s ease-in-out;
}

#alt {
    padding: 12px;
    overflow-x: hidden;
}

#search-forms {
    display: flex;
    flex-direction: row;
    gap: 12px;

    & > div {
        flex-basis: 0;
        flex-grow: 1;
    }
}

#search-results {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.search-result {
    background-color: #ececec;
    border: 1px solid #d4d4d4;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.search-result-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.search-result-body {
    display: flex;
    flex-direction: column;
}

.search-result-title {
    font-weight: bold;
}

.search-result-vocab {
    font-size: small;
}

.search-result-instance {
    font-size: 12px;
    color: white;
    background-color: var(--primary);
    padding: 2px 4px;
    border-radius: 0.25rem;

    &:hover {
        color: white;
    }
}

.search-result-desc {
    font-size: small;
    color: grey;
    font-style: italic;
}

footer {
    display: flex;
    margin-top: auto;
    background-color: var(--footer-bg);
}

#footer-content {
    max-width: var(--page-max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

#alt-quick-container {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.alt-quick {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.alt-quick-title {
    margin-bottom: 8px;
}

.alt-quick-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}

pre {
    background-color: var(--table-row-bg);
    padding: 6px;
    white-space: pre-wrap;
}

ol#concept-hierarchy {
    list-style: none;
    padding-left: 0px;

    ol.narrower {
        list-style: none;
        padding-left: 0px;
        margin-left: 24px;
        display: none;

        &.expand {
            display: block;
        }
    }

    li:not(.concept-collapse) {
        margin-left: 24px;
    }
}

#map {
    height: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 75%;
    margin-top: 20px;

    .card {
        flex-basis: 0;
        flex-grow: 1;
    }
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    padding: 12px;
    background-color: var(--card-bg);

    h3 {
        margin-top: 0px;
    }

    p {
        font-size: 0.9rem;
    }
}

.bubble {
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 0.25rem;
    color: white;
    background-color: var(--primary);

    &.outline-bubble {
        color: var(--primary);
        background-color: unset;
        border: 1px solid var(--primary);

        &:hover {
            color: var(--primary);
        }
    }

    &:hover {
        color: white;
    }

    &.datatype > i {
        vertical-align: text-top;
    }

    & > i {
        font-size: 10px;
    }

    &.langtag {
        cursor: default;
    }
}

.member-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0px;

    .member {
        display: flex;
        flex-direction: column;
        // width: 80%;
        background-color: #ececec;
        padding: 8px;

        .member-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .member-desc {
            font-size: 14px;
            color: grey;
            font-style: italic;
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

    .tooltip-text {
        $arrow-size: 6px;
        
        position: absolute;
        width: 250px;
        background-color: black;
        color: white;
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        padding: 6px;
        border-radius: 6px;
        z-index: 999;
        visibility: hidden;
        bottom: calc(100% + #{$arrow-size});
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        &::after {
            content: " ";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -$arrow-size;
            border-width: $arrow-size;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
    }

    &:hover .tooltip-text {
        visibility: visible;
        opacity: 0.9;
    }
}

.pred-expl {
    font-size: 14px;
    color: var(--link);
}

@media screen and (max-width: $sm-breakpoint) {
    #content-col-sidebar {
        z-index: 95;
        position: absolute;
        right: 0;
        width: 0;
        min-width: 0px;
        background-color: white;
        white-space: nowrap;
        overflow-y: auto !important;
        max-width: unset;
    }

    .alt-quick-links {
        flex-direction: column;

        & > a {
            text-align: center;
        }
    }

    #map {
        height: 300px;
    }

    .card-container {
        flex-direction: column;
        width: 100%;
    }

    .tooltip .tooltip-text {
        max-width: 120px;
    }

    #search-forms {
        flex-direction: column;
    
        & > div {
            flex-basis: unset;
            flex-grow: unset;
        }
    }
}
