a {
    color: var(--link);
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: var(--link-hover);
        text-decoration: none;
    }
}

#pagination {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: auto;

    a.paginate-btn {
        &.active {
            background-color: var(--btn-active);
        }
    }
}