* {
    box-sizing: border-box;
}

#yasgui {
    .autocompleteWrapper {
        display: none !important; // disables endpoint text field
    }

    .grip-container {
        width: unset !important; // prevents overflowing width
    }

    #DataTables_Table_1 {
        width: unset !important; // allows for responsive width
    }

    #resultsId1 {
        overflow-x: auto;
        z-index: 0;
    }

    .dataTables_paginate {
        text-align: center;
        float: unset;
    }
}
