// .table-wrapper {
//     overflow-x: auto;
// }

table {
    width: 100%;
    border-collapse: collapse;

    &.alt-table {
        margin-top: 12px;
        font-size: 14px;

        th,
        td {
            padding: 6px;
        }

        tbody tr:nth-child(2n + 1) {
            background-color: var(--table-row-bg);
        }
    }

    &.props-table {
        margin-top: 12px;

        th,
        td {
            padding: 6px;
        }

        th {
            text-align: left;
            min-width: 120px;
            vertical-align: top;
        }

        tbody tr:nth-child(2n + 1) {
            background-color: var(--table-row-bg);
        }
    }

    &.bnode-table {
        font-size: 14px;

        tr {
            background-color: unset !important;
        }

        td {
            width: 100%;
        }
        
        .props-table td > &:last-child {
            margin-bottom: 0px;
        }

        .props-table td > &:nth-child(2n) {
            background-color: var(--subtable-bg);
        }

        .geom-string-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .geom-string-data {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 6px;
                

                code.geom-string {
                    &.collapse {
                        display: inline-block;
                        width: 360px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .geom-string-btns {
                flex-shrink: 0;
            }
        } 
    }
}
