h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h1 {
    margin: 12px 0;
}

h2 {
    margin: 12px 0;
}

h3 {
    margin: 12px 0;
}

h4 {
    margin: 12px 0;
}

h5 {
    margin: 12px 0;
}

h6 {
    margin: 12px 0;
}

p {
    margin: 8px 0;
}