// root variables for overriding
:root {
    // colours
    --primary: #55828b;
    --secondary: #cd4631;
    --tertiary: #cd4631;
    --link: var(--secondary);
    --link-hover: #e4553f;
    --btn: var(--secondary);
    --btn-hover: #e4553f;
    --btn-active: #ff4a2e;
    --nav-bg: #e6e8e6;
    --nav-color: var(--primary);
    --nav-hover: #d4d4d4;
    --header-bg: #364958;
    --footer-bg: #e6e8e6;
    --card-bg: #e6e8e6;
    --container-direction: column;
    --main-nav-direction: row;
    --table-row-bg: #dddddd;
    --subtable-bg: #eeeeee;

    // sizing
    --page-max-width: 1200px;

    // fonts
    --body-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --heading-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

// breakpoints
$sm-breakpoint: 420px;
$m-breakpoint: 650px;
$lg-breakpoint: 900px;
$xl-breakpoint: 1300px;

// sizing
$sidenav-width: 200px;
