:root {
    /* colours */
    --primary: #55828B;
    --secondary: #CD4631;
    --tertiary: #CD4631;
    --link: var(--secondary);
    --link-hover: #e4553f;
    --btn: var(--secondary);
    --btn-hover: #e4553f;
    --nav-color: var(--primary);
    --header-bg: #364958;
    --footer-bg: #E6E8E6;
    /* sizing */
    --page-max-width: 1000px;
    --sm-breakpoint: 350px;
    --m-breakpoint: 550px;
    --lg-breakpoint: 900px;
    --xl-breakpoint: 1300px;
    /* fonts */
    --body-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --heading-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow-y: auto;
    font-family: var(--body-font);
}

a {
    color: var(--link);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--link-hover);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h1 {
    margin: 12px 0;
}

h2 {
    margin: 12px 0;
}

h3 {
    margin: 12px 0;
}

h4 {
    margin: 12px 0;
}

h5 {
    margin: 12px 0;
}

h6 {
    margin: 12px 0;
}

p {
    margin: 8px 0;
}

button, .btn {
    cursor: pointer;
    border-radius: 0;
    padding: 6px 10px;
    background-color: var(--btn);
    color: white;
    font-family: unset;
    font-size: unset;
    display: inline-block;
    border: 1px solid transparent;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover, .btn:hover {
    background-color: var(--btn-hover);
    color: white;
}

button.outline, .btn.outline {
    background-color: white;
    color: var(--btn);
    border: 1px solid var(--btn);
}

button.outline:hover, .btn.outline:hover {
    background-color: var(--btn);
    color: white;
}

/* header */

header {
    display: flex;
    background-color: var(--header-bg);
    color: white;
}

#header-content {
    max-width: var(--page-max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

#header-content>h1 {
    text-align: center;
}

/* main nav */

#main-nav {
    display: flex;
}

#main-nav-content {
    display: flex;
    flex-direction: row;
    max-width: var(--page-max-width);
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

#main-nav-content>.main-nav-item {
    padding: 6px;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--nav-color);
    text-decoration: none;
    border: 1px solid transparent;
    transition: border-color 0.2s ease-in-out;
}

#main-nav-content>.main-nav-item.active {
    background-color: var(--nav-color);
    color: white;
}

#main-nav-content>.main-nav-item:not(.active):hover {
    border-color: var(--nav-color);
}

/* breadcrumbs */

#breadcrumbs {
    display: flex;
    font-size: 12px;
    background-color: var(--header-bg);
}

#breadcrumbs-content {
    max-width: var(--page-max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    gap: 6px;
    color: white;
}

#breadcrumbs-content>li {
    padding: 6px;
}

#breadcrumbs-content>li>a {
    color: white;
}

#breadcrumbs-content>li:not(:first-child)::before {
    content: "\f105";
    /* padding: 0 5px; */
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    margin-right: 18px;
}

/* content */

main {
    display: flex;
    flex-grow: 1;
}

#content {
    max-width: var(--page-max-width);
    width: 100%;
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#content-col-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

#content-col-sidebar {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    padding: 12px;
}

table {
    border-collapse: collapse;
}

table.alt-table {
    margin-top: 12px;
}

table.alt-table th, table.alt-table td {
    padding: 6px;
}

table.props-table {
    margin-top: 12px;
}

table.props-table th, table.props-table td {
    padding: 6px;
}

table.props-table th {
    text-align: left;
}

input:not([type="submit"]), select, textarea {
    padding: 8px;
    border: 1px solid var(--footer-bg);
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

input:not([type="submit"]):focus-visible, select:focus-visible, textarea:focus-visible {
    border: 1px solid var(--primary);
    outline: none;
}

option {
    padding: 6px;
}

select#endpoints {
    padding: 0;
}

#search-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 350px;
    width: 100%;
}

#search-results {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.search-result {
    background-color: #ececec;
    border: 1px solid #d4d4d4;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.search-result-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.search-result-body {
    display: flex;
    flex-direction: column;
}

.search-result-title {
    font-weight: bold;
}

.search-result-vocab {
    font-size: small;
}

.search-result-instance {
    font-size: 12px;
    color: white;
    background-color: var(--primary);
    padding: 2px 4px;
    border-radius: 0.25rem;
}

.search-result-instance:hover {
    color: white;
}

.search-result-desc {
    font-size: small;
    color: grey;
    font-style: italic;
}

.form-text {
    color: grey;
    font-size: 12px;
}

/* vocprez nav */

#vocprez-nav {
    display: flex;
    background-color: var(--nav-color);
    color: white;
    padding: 4px;
}

#vocprez-nav-content {
    display: flex;
    flex-direction: row;
    max-width: var(--page-max-width);
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

#vocprez-nav-content>.vocprez-nav-item {
    padding: 6px;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    transition: border-color 0.2s ease-in-out;
}

#vocprez-nav-content>.vocprez-nav-item.active {
    background-color: white;
    color: var(--nav-color);
}

#vocprez-nav-content>.vocprez-nav-item:not(.active):hover {
    border-color: white;
}

/* footer */

footer {
    display: flex;
    margin-top: auto;
    background-color: var(--footer-bg);
}

#footer-content {
    max-width: var(--page-max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

/* yasgui */

/* disables endpoint text field */
.yasgui .autocompleteWrapper {
    display: none !important;
}

/* prevents overflowing width */
#yasgui .grip-container {
    width: unset !important;
}

/* allows for responsive width */
#yasgui #DataTables_Table_1 {
    width: unset !important;
}