<footer>
    <div id="footer-content">
        <div class="footer-content-col">
            <img id="footer-logo" src="{{ url_for('theme', path='img/logo-dark.svg') }}" alt="SURROUND logo">
            <p>Prez developed by <a href="https://surroundaustralia.com" target="_blank" rel="noopener noreferrer">SURROUND Australia</a></p>
            <a href="">Privacy Policy</a>
            <p>&copy; SURROUND Australia Pty. Ltd. 2021</p>
        </div>
        <div class="footer-content-col">
            <h3>Head Office</h3>
            <address>
                Level 13<br/>
                60 Castlereagh Street<br/>
                Sydney NSW 2000<br/>
                Australia<br/>
            </address>
            <a href="tel:+">+61 2 6243 4828</a>
        </div>
        <div class="footer-content-col">
            <h3>Regional Office</h3>
            <address>
                Level 9, Nishi Building<br/>
                2 Phillip Law Street, New Acton<br/>
                Canberra ACT 2601<br/>
                Australia<br/>
            </address>
        </div>
    </div>
</footer>